VMs/smartparking-17.214.json
[
    {
        "id": "9f1743de011d57a1",
        "type": "tab",
        "label": "Local Broker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53a5d1fc.f162",
        "type": "tab",
        "label": "Turbine",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3bbbe713.cd2fa8",
        "type": "group",
        "z": "53a5d1fc.f162",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a232c93d.486e18",
            "d056af0d.43a3c",
            "2bd83c1f.9a8a04",
            "934112d2.0cb7",
            "590e15f7.09b21c",
            "cdca5b13.989038",
            "188c4ef3.01f4f1",
            "6c21e646.98ae28",
            "6bb293f3.ab6f0c",
            "ea8e2e49.382c3",
            "f27c6e67abb70401",
            "b8a7d60b782d6d5c",
            "f68862bebfa936e0",
            "a49874fe7f3dd916"
        ],
        "x": 14,
        "y": 79,
        "w": 512,
        "h": 442
    },
    {
        "id": "1739ad50074c437b",
        "type": "group",
        "z": "53a5d1fc.f162",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9d8c6884b7cf796f",
            "4d2ba483c9c388ac",
            "8e09e37a9f98785f",
            "bd38fa651f6b3b1a",
            "96ea9602661e77f3",
            "b7969358659b2ad8",
            "c41c549a771c3fb1",
            "4cd02ce4c27e7bd7",
            "e9ddfe0bd58970c2",
            "2d0ddc51f2c4f2cc",
            "2d075db7fac65992",
            "90c40d96c9092ca0",
            "2f02a34587057dfe"
        ],
        "x": 534,
        "y": 99,
        "w": 852,
        "h": 262
    },
    {
        "id": "15ba0606.c5006a",
        "type": "mqtt-broker",
        "name": "mqttBroker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4ae93df8.2831d4",
        "type": "ui_group",
        "name": "Turbine Control",
        "tab": "6e81e29f.6d525c",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "fcbc068b.8be5f8",
        "type": "ui_group",
        "name": "Power Sector",
        "tab": "6e81e29f.6d525c",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "7b948c72.b868e4",
        "type": "ui_group",
        "name": "SubStation Control",
        "tab": "6e81e29f.6d525c",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "8ea7961bc160e7fe",
        "type": "modbus-client",
        "name": "PowerStationPLC",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "172.16.17.121",
        "tcpPort": "503",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6e81e29f.6d525c",
        "type": "ui_tab",
        "name": "Power Sector",
        "icon": "fa-plug",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fe9f557cf8f63f09",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d8731dc1376e0625",
        "type": "aedes broker",
        "z": "9f1743de011d57a1",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 130,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a232c93d.486e18",
        "type": "mqtt out",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "name": "Command",
        "topic": "turbine/control",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "15ba0606.c5006a",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "d056af0d.43a3c",
        "type": "ui_switch",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "name": "Main Switch",
        "label": "Turbine Switch",
        "tooltip": "",
        "group": "4ae93df8.2831d4",
        "order": 2,
        "width": "7",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "turbine/control",
        "topicType": "str",
        "style": "",
        "onvalue": "start",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "stop",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "a232c93d.486e18",
                "cdca5b13.989038"
            ]
        ]
    },
    {
        "id": "2bd83c1f.9a8a04",
        "type": "ui_gauge",
        "z": "53a5d1fc.f162",
        "d": true,
        "g": "3bbbe713.cd2fa8",
        "name": "RPM",
        "group": "4ae93df8.2831d4",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "",
        "label": "rpm",
        "format": "{{value}}",
        "min": "0",
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "400",
        "seg2": "800",
        "className": "",
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "934112d2.0cb7",
        "type": "mqtt in",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "name": "",
        "topic": "turbine/control/rpm",
        "qos": "2",
        "datatype": "auto",
        "broker": "15ba0606.c5006a",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "2bd83c1f.9a8a04"
            ]
        ]
    },
    {
        "id": "590e15f7.09b21c",
        "type": "ui_button",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "name": "Rst Button",
        "group": "4ae93df8.2831d4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "reset",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a232c93d.486e18"
            ]
        ]
    },
    {
        "id": "cdca5b13.989038",
        "type": "ui_template",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "group": "fcbc068b.8be5f8",
        "name": "Turbine Graphics",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<svg\n   xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n   xmlns:cc=\"http://creativecommons.org/ns#\"\n   xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"\n   xmlns:svg=\"http://www.w3.org/2000/svg\"\n   xmlns=\"http://www.w3.org/2000/svg\"\n   xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n   xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\"\n   xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\"\n   width=\"1052.3622\"\n   height=\"744.09448\"\n   id=\"powersystemsvg\"\n   version=\"1.1\"\n   inkscape:version=\"0.48+devel \"\n   onload=\"var src; if (document.documentURI) src = document.documentURI; else if (this.getSrc) src = this.getSrc(); else src = document.location.href + ''; try {parent.preload.load(src);}catch(e) {}\"\n   viewBox=\"0 0 1052.3622 744.09449\"\n   sodipodi:docname=\"powersystemsvg.svg\">\n  <defs\n     id=\"defs4\">\n    <linearGradient\n       inkscape:collect=\"always\"\n       id=\"linearGradient4543\">\n      <stop\n         style=\"stop-color:#333333;stop-opacity:1\"\n         offset=\"0\"\n         id=\"stop4545\" />\n      <stop\n         style=\"stop-color:#000000;stop-opacity:1\"\n         offset=\"1\"\n         id=\"stop4547\" />\n    </linearGradient>\n    <linearGradient\n       inkscape:collect=\"always\"\n       id=\"linearGradient4535\">\n      <stop\n         style=\"stop-color:#333333;stop-opacity:1\"\n         offset=\"0\"\n         id=\"stop4537\" />\n      <stop\n         style=\"stop-color:#000000;stop-opacity:1\"\n         offset=\"1\"\n         id=\"stop4539\" />\n    </linearGradient>\n    <inkscape:path-effect\n       effect=\"spiro\"\n       id=\"path-effect3280\"\n       is_visible=\"true\" />\n    <inkscape:path-effect\n       is_visible=\"true\"\n       id=\"path-effect3270\"\n       effect=\"spiro\" />\n    <inkscape:path-effect\n       effect=\"spiro\"\n       id=\"path-effect3266\"\n       is_visible=\"true\" />\n    <radialGradient\n       inkscape:collect=\"always\"\n       xlink:href=\"#linearGradient4535\"\n       id=\"radialGradient4541\"\n       cx=\"80.311516\"\n       cy=\"831.13556\"\n       fx=\"80.311516\"\n       fy=\"831.13556\"\n       r=\"12.5\"\n       gradientUnits=\"userSpaceOnUse\"\n       gradientTransform=\"matrix(1.6869037,2.5433628e-4,-2.3604517e-4,1.5656838,-54.970098,-470.18034)\" />\n    <radialGradient\n       inkscape:collect=\"always\"\n       xlink:href=\"#linearGradient4543\"\n       id=\"radialGradient4549\"\n       cx=\"172.7963\"\n       cy=\"831.13556\"\n       fx=\"172.7963\"\n       fy=\"831.13556\"\n       r=\"12.5\"\n       gradientUnits=\"userSpaceOnUse\"\n       gradientTransform=\"matrix(2.028568,2.54903e-4,-2.4413243e-4,1.9428651,-177.52983,-783.6927)\" />\n  </defs>\n  <sodipodi:namedview\n     id=\"base\"\n     pagecolor=\"#ffffff\"\n     bordercolor=\"#666666\"\n     borderopacity=\"1.0\"\n     inkscape:pageopacity=\"0.0\"\n     inkscape:pageshadow=\"2\"\n     inkscape:zoom=\"0.5\"\n     inkscape:cx=\"416.89033\"\n     inkscape:cy=\"201.85612\"\n     inkscape:document-units=\"px\"\n     inkscape:current-layer=\"layer1\"\n     showgrid=\"false\"\n     showguides=\"true\"\n     inkscape:guide-bbox=\"true\"\n     inkscape:window-width=\"1366\"\n     inkscape:window-height=\"745\"\n     inkscape:window-x=\"-8\"\n     inkscape:window-y=\"-8\"\n     inkscape:window-maximized=\"1\" />\n  <metadata\n     id=\"metadata7\">\n    <rdf:RDF>\n      <cc:Work\n         rdf:about=\"\">\n        <dc:format>image/svg+xml</dc:format>\n        <dc:type\n           rdf:resource=\"http://purl.org/dc/dcmitype/StillImage\" />\n        <dc:title />\n      </cc:Work>\n    </rdf:RDF>\n  </metadata>\n  <g\n     inkscape:label=\"Layer 1\"\n     inkscape:groupmode=\"layer\"\n     id=\"layer1\"\n     transform=\"translate(0,-308.26771)\">\n    <path\n       style=\"fill:#999999;stroke:none\"\n       d=\"m 706.01367,518.02734 0,2.58594 0,2.58789 -1.61719,0 -1.61718,0 0,6.4668 0,6.46875 -2.26368,0 -2.26367,0 0,-5.17383 0,-5.17383 -8.4082,0 -8.4082,0 0,5.17383 0,5.17383 -3.23243,0 -3.23437,0 0,3.88086 0,3.88086 1.29297,0 1.29297,0 0,54.65234 0,54.6543 -1.93946,0 -1.93945,0 0,-13.90625 c 0,-13.67945 -2.9e-4,-13.90625 0.64649,-13.90625 0.58208,0 0.64648,-0.22549 0.64648,-1.93946 l 0,-1.9414 -4.20508,0 -4.20312,0 0,-3.88086 0,-3.88086 -11.31836,0 -11.31836,0 0,-2.91016 0,-2.91015 -3.88086,0 -3.88086,0 0,-2.91016 0,-2.91015 -1.94141,0 -1.93945,0 0,9.70117 0,9.70117 -12.61328,0 -12.61133,0 0,1.9414 c 0,1.06719 0.12824,1.93946 0.32227,1.93946 0.22639,0 0.32421,18.20648 0.32421,54.00586 l 0,54.00781 101.54493,0 101.54492,0 0,-51.41992 0,-51.41992 -18.10938,0 -18.11132,0 0,42.6875 0,42.6875 -1.93946,0 -1.9414,0 0,-56.26953 0,-56.26954 -32.66211,0 -32.66211,0 0,22.96094 0,22.96094 -2.26367,0 -2.26368,0 0,-24.57813 0,-24.57812 3.79297,0 0,0.0312 25.27735,0 0,-0.0312 1.97461,0 0,-28.13477 0,-28.13476 1.61718,0 1.61719,0 0,-3.88086 0,-3.88086 -2.58789,0 -2.58594,0 0,-3.23438 0,-3.23437 -9.05469,0 -9.05468,0 0,-5.82031 0,-5.82032 -2.91211,0 -2.91016,0 z m 54.33008,3.88086 c -0.58208,0 -0.64648,0.22549 -0.64648,1.93946 l 0,1.9414 -2.91016,0 -2.91211,0 0,-0.9707 0,-0.9707 -3.23242,0 -3.23438,0 0,6.79101 0,6.79102 -2.26367,0 -2.26367,0 0,2.26367 c 0,2.03736 0.0644,2.26367 0.64648,2.26367 0.64678,0 0.64649,0.22665 0.64649,29.10547 l 0,29.10547 14.87695,0 14.875,0 0,13.58203 0,13.58398 2.91016,0 2.91211,0 0,-42.68945 0,-42.6875 1.29297,0 1.29296,0 0,-2.26367 0,-2.26367 -4.52734,0 -4.52734,0 0,-2.26367 0,-2.26368 -6.14453,0 -6.14454,0 0,-5.49804 c 0,-5.27127 -0.032,-5.4961 -0.64648,-5.4961 z m 60.15039,38.16016 0,4.20312 0,4.20508 -2.26367,0 -2.26367,0 0,2.74805 c -0.005,3.67214 -1.98992,5.56042 -6.53321,5.66016 l -3.16797,0 0,3.88085 0,3.87891 0.96876,0 0.9707,0 0,3.88086 0,3.88086 -0.9707,0 -0.96876,0 0,3.88086 0,3.88086 0.96876,0 0.9707,0 0,4.20508 0,4.20312 -0.9707,0 -0.96876,0 0,3.88086 0,3.88086 0.96876,0 0.9707,0 0,4.20313 0,4.20507 -0.9707,0 c -0.93784,0 -0.96876,0.0326 -0.96876,1.61719 l 0,1.61719 5.17383,0 5.17383,0 0,2.58594 0,2.58789 0.9707,0 0.97071,0 0,3.55664 0,3.55859 -0.97071,0 -0.9707,0 0,4.20313 0,4.20507 0.9707,0 0.97071,0 0,3.55665 0,3.55664 -0.97071,0 -0.9707,0 0,4.20507 0,4.20313 0.9707,0 0.97071,0 0,3.55859 0,3.55664 -0.97071,0 -0.9707,0 0,31.04493 0,31.04687 49.80274,0 49.80273,0 0,-58.53516 0,-58.5332 -19.4043,0 -19.40429,0 0,24.57813 c 0,24.35134 2.9e-4,24.57812 -0.64649,24.57812 -0.5821,0 -0.64648,-0.22631 -0.64648,-2.26367 l 0,-2.26563 -6.4668,0 -6.46875,0 0,-1.61523 0,-1.61719 -2.58789,0 -2.58594,0 0,-1.9414 0,-1.93946 -1.29297,0 -1.29492,0 0,5.82032 0,5.82226 -4.84961,0 -4.85156,0 0,-1.29492 1.29297,0 0,-7.76172 -1.29297,0 0,-8.4082 1.29297,0 0,-7.75977 -1.29297,0 0,-7.76172 1.29297,0 0,-7.76172 -1.29297,0 0,-8.4082 1.29297,0 0,-7.76172 -1.29297,0 0,-8.4082 1.29297,0 0,-7.76172 -1.29297,0 0,-7.75977 1.29297,-0.002 0,-7.75976 -2.91016,0 c -1.71397,0 -2.91015,-0.008 -2.91015,-0.008 l -13.90625,-11.05273 -2.84766,2.65234 -1.35547,0 -1.29492,0 0,-3.71875 0,-4.68945 -1.29297,0 z m -25.87109,4.52734 0,2.58594 0,2.58789 -1.93946,0 -1.9414,0 0,4.20313 0,4.20507 -1.61719,0 -1.61719,0 0,24.25391 0,24.25391 7.43946,0 7.4375,0 0,-18.43164 0,-18.4336 -2.91016,0 -2.91211,0 0,-12.61328 0,-12.61133 -0.96875,0 -0.9707,0 z m 125.15234,0 c -0.22639,0 -0.32422,28.36063 -0.32422,84.4043 l 0,84.40625 31.69336,0 31.69141,0 0,-20.05078 0,-20.05078 0.9707,0 0.9707,0 0,-4.20313 0,-4.20508 -7.76172,0 -7.76171,0 0,-4.85156 0,-4.84961 -0.97071,0 c -0.54976,0 -0.96875,-0.16253 -0.96875,-0.32422 0,-0.19404 -0.58346,-0.32226 -1.29492,-0.32226 -0.71146,0 -1.29297,-0.16253 -1.29297,-0.32422 0,-0.19404 -0.58151,-0.32422 -1.29297,-0.32422 -0.71146,0 -1.29297,-0.16057 -1.29297,-0.32227 0,-0.19386 -0.58346,-0.32421 -1.29492,-0.32421 -0.71146,0 -1.29297,-0.16057 -1.29297,-0.32227 0,-0.19403 -0.5815,-0.32422 -1.29296,-0.32422 -0.71146,0 -1.29493,-0.16057 -1.29493,-0.32226 0,-0.19404 -0.58167,-0.32422 -1.29296,-0.32422 -0.71146,0 -1.29297,-0.16253 -1.29297,-0.32422 0,-0.19404 -0.58347,-0.32227 -1.29493,-0.32227 -0.71146,0 -1.29296,-0.16253 -1.29296,-0.32422 0,-0.19404 -0.58151,-0.32226 -1.29297,-0.32226 -0.71146,0 -1.29493,-0.16252 -1.29493,-0.32422 0,-0.19403 -0.5815,-0.32227 -1.29296,-0.32227 -0.71146,0 -1.29297,-0.16251 -1.29297,-0.32421 0,-0.19403 -0.58151,-0.32422 -1.29297,-0.32422 -0.71146,0 -1.29492,-0.16058 -1.29492,-0.32227 0,-0.19404 -0.58151,-0.32422 -1.29297,-0.32422 -0.71146,0 -1.29297,-0.16057 -1.29297,-0.32226 0,-0.19404 -0.58346,-0.32422 -1.29492,-0.32422 -0.71146,0 -1.29297,-0.16057 -1.29297,-0.32227 0,-0.19403 -0.97011,-0.32422 -2.26367,-0.32422 l -2.26368,0 0,1.93946 0,1.9414 -1.61718,0 -1.61719,0 0,-4.20507 0,-4.20313 1.61719,0 c 0.87315,0 1.61718,0.12824 1.61718,0.32227 0,0.19404 1.19619,0.32421 2.91016,0.32421 1.71398,0 2.91016,0.13019 2.91016,0.32422 0,0.1617 0.58346,0.32227 1.29492,0.32227 0.71146,0 1.29297,0.13019 1.29297,0.32422 0,0.1617 0.58151,0.32226 1.29297,0.32226 0.71146,0 1.29492,0.13018 1.29492,0.32422 0,0.16169 0.58151,0.32227 1.29297,0.32227 0.71146,0 1.29297,0.13018 1.29297,0.32422 0,0.16169 0.58167,0.32421 1.29296,0.32421 0.71146,0 1.29493,0.12824 1.29493,0.32227 0,0.1617 0.58151,0.32422 1.29297,0.32422 0.71146,0 1.29296,0.12824 1.29296,0.32227 0,0.16153 0.58347,0.32421 1.29493,0.32421 0.71146,0 1.29297,0.13019 1.29297,0.32422 0,0.1617 0.5815,0.32227 1.29296,0.32227 0.71147,0 1.29493,0.13018 1.29493,0.32422 0,0.16169 0.5815,0.32226 1.29296,0.32226 0.71146,0 1.29297,0.13018 1.29297,0.32422 0,0.16169 0.58363,0.32227 1.29492,0.32227 0.71146,0 1.29297,0.13019 1.29297,0.32422 0,0.1617 0.58151,0.32421 1.29297,0.32421 0.71146,0 1.29297,0.12824 1.29297,0.32227 0,0.1617 0.58346,0.32422 1.29492,0.32422 0.71146,0 1.29297,0.12822 1.29297,0.32226 0,0.16169 0.58151,0.32422 1.29297,0.32422 0.71146,0 1.29492,0.12823 1.29492,0.32227 0,0.16169 0.29076,0.32422 0.64649,0.32422 0.61448,0 0.64648,0.22624 0.64648,4.52734 l 0,4.52734 8.08399,0 8.08593,0 0,7.76172 0,7.76172 -0.9707,0 -0.9707,0 0,18.4336 0,18.43359 30.3984,0 30.4004,0 0,-25.22461 0,-25.22461 -12.6133,0 -12.6113,0 0,-10.34961 0,-10.34765 -19.6621,-8.40821 -1.6816,0 0,-12.28906 0.6465,0 0,-3.88086 -10.67192,0 -10.67188,0 0,-8.08398 0,-8.08594 -1.16406,0 c -1.68164,0 -2.07032,0.58324 -2.07032,3.04101 l 0,2.13282 -3.55664,0 -3.55859,0 0,2.58789 0,2.58789 -9.37695,0 -9.37891,0 0,2.91015 0,2.91016 -3.10547,0 c -3.52496,0 -4.00976,0.25932 -4.00976,2.07031 l 0,1.16407 -2.58594,0 -2.58789,0 0,-28.13477 0,-28.13672 -6.46875,-1.93945 0,-5.17383 0,-5.17383 -6.14258,0 -6.14453,0 0,-3.88086 c 0,-2.36075 -0.13019,-3.88086 -0.32422,-3.88086 z m -328.88867,5.82032 0,5.82226 0,5.17383 -10.34766,4.52734 0,39.77735 0,39.77539 4.52735,0 4.52734,0 0,0.9707 0,0.9707 3.22656,0 0,37.51368 -1.1582,0 c -2.1667,0 -2.06836,0.96953 -2.06836,-18.88672 l 0,-17.98047 -22.96094,0 -22.96093,0 0,32.66211 0,32.66406 29.75195,0 29.75195,0 0,-5.82227 0,-5.82031 -0.0137,0 0,-2.58789 0.0137,0 0,-3.88086 0,-3.88086 -0.0137,0 0,-2.58594 0.0137,0 0,-3.88085 0,-3.88086 -0.0137,0 0,-2.58789 0.0137,0 0,-3.88086 0,-3.88086 -0.0137,0 0,-2.58594 0.0137,0 0,-9.05469 0,-9.05469 -0.0137,0 0,-2.58789 0.0137,0 0,-3.88086 0,-3.88085 -0.004,0 0,-3.23438 0.004,0 0,-3.88086 0,-3.87891 -0.004,0 0,-2.58789 0.004,0 0,-3.55664 0,-3.55859 -0.004,0 0,-2.58594 0.004,0 0,-3.88086 0,-3.88086 -0.004,0 0,-2.58789 0.004,0 0,-4.84961 0,-4.85156 3.88086,0 c 0.95811,0 1.66053,-0.003 2.20508,-0.0176 l 12.70508,0 c 0.33678,0.0117 0.72884,0.0176 1.25976,0.0176 l 2.58594,0 0,-22.63672 0,-22.63867 -10.99414,3.23438 c -0.58208,0 -0.64844,-0.22548 -0.64844,-1.93946 l 0,-1.9414 -11.96484,0 -11.31836,0 z m 303.33984,7.76171 0,9.37891 0,9.37695 -2.91015,0 -2.91016,0 0,-4.84961 0,-4.85156 -0.9707,0 -0.96875,0 0,6.46875 0,6.4668 -2.58789,0 -2.58789,0 0,6.14453 0,6.14453 17.14062,0 17.14063,0 0,-12.61133 0,-12.61328 -5.17579,0 -5.17382,0 0,-2.58789 0,-2.58594 -4.20313,0 -4.20508,0 0,-1.9414 0,-1.93946 -1.29297,0 -1.29492,0 z m -364.13672,20.69727 0,2.91016 0,0.80859 0,2.10156 0,2.58789 0,1.93946 0,1.9414 0,2.58594 0,1.94141 0,1.93945 0,2.58789 0,1.93945 0,1.94141 0,2.58594 0,1.9414 0,1.93946 0,2.58789 0,1.93945 0,1.94141 0,2.58593 0,1.94141 0,1.93945 0,2.58789 0,1.93946 0,1.9414 0,2.58594 0,1.94141 0,1.93945 0,2.58789 0,1.19336 0,0.42383 0,1.61719 -5.49804,0 -5.49805,0 0,8.4082 0,8.4082 -8.73047,0 -8.73242,0 0,26.71094 c 0,22.702 0.0651,26.77818 0.45312,27.16601 0.38806,0.3878 3.39561,0.45313 19.08008,0.45313 l 18.62696,0 0,-8.4082 0,-8.40821 -0.0137,0 0,-2.58789 0.0137,0 0,-1.9414 0,-1.93946 -0.0137,0 0,-2.58789 0.0137,0 0,-1.93945 0,-1.94141 -0.0137,0 0,-2.58593 0.0137,0 0,-1.94141 0,-1.93945 -0.0137,0 0,-2.58789 0.0137,0 0,-1.93946 0,-1.9414 -0.0137,0 0,-2.58594 0.0137,0 0,-1.94141 0,-1.93945 -0.0137,0 0,-2.58789 0.0137,0 0,-1.93945 0,-1.94141 -0.0137,0 0,-2.58594 0.0137,0 0,-1.9414 0,-1.93946 -0.0137,0 0,-2.58789 0.0137,0 0,-1.93945 0,-1.94141 -0.0137,0 0,-1.31445 27.37696,0 c 0.5058,0.0162 1.15088,0.0215 2.06445,0.0215 l 3.55859,0 0,-32.33984 0,-32.33789 -21.34375,0 -21.34375,0 z m 331.79883,20.69727 0,6.79101 0,6.79102 -0.9707,0 -0.9707,0 0,10.99414 0,10.99609 2.26367,0 2.26367,0 0,1.94141 0,1.93945 5.17578,0 5.17383,0 0,-16.49219 0,-16.49414 -1.29297,0 -1.29492,0 0,-3.23437 0,-3.23242 -5.17383,0 -5.17383,0 z\"\n       transform=\"translate(0,308.26771)\"\n       id=\"citylight\"\n       inkscape:connector-curvature=\"0\" />\n    <rect\n       style=\"fill:#808080;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3582\"\n       width=\"179.80716\"\n       height=\"179.96814\"\n       x=\"36.36549\"\n       y=\"741.23523\" />\n    <path\n       style=\"fill:#d40000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"m 673.55078,67.951172 0,8.572266 0,74.714842 -278.57031,0 0,8.57031 278.57031,0 0,0.01 8.57227,0 0,-83.294922 292.32812,0 0,265.683592 -805.81836,0 0,0.93555 -0.0117,0 0,45.58789 8.57032,0 0,-37.95313 805.83984,0 0,-8.57031 -0.01,0 0,-274.246092 -0.041,0 0,-0.0098 -309.42969,0 z\"\n       transform=\"translate(0,308.26771)\"\n       id=\"transmissionline1\"\n       inkscape:connector-curvature=\"0\" />\n    <path\n       style=\"fill:#808080;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"M 394.96875 159.81055 L 394.96875 236.77344 L 380.625 236.77344 L 380.625 245.70117 L 395.98242 245.70117 L 395.98242 245.67383 L 404.56641 245.67383 L 404.56641 159.81055 L 394.96875 159.81055 z \"\n       transform=\"translate(0,308.26771)\"\n       id=\"rect3599\" />\n    <path\n       style=\"fill:#808080;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"m 342.72253,468.17158 a 39.187161,39.187161 0 0 0 -39.18715,39.18717 l 0,46.65722 78.37432,0 0,-46.65722 a 39.187161,39.187161 0 0 0 -39.18717,-39.18717 z\"\n       id=\"rect3305\"\n       inkscape:connector-curvature=\"0\" />\n    <circle\n       cy=\"507.35968\"\n       cx=\"342.72546\"\n       id=\"circle3309\"\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       r=\"35.921562\"\n       d=\"m 378.64703,507.35968 a 35.921562,35.921562 0 0 1 -35.92157,35.92156 35.921562,35.921562 0 0 1 -35.92156,-35.92156 35.921562,35.921562 0 0 1 35.92156,-35.92156 35.921562,35.921562 0 0 1 35.92157,35.92156 z\" />\n    <path\n       style=\"fill:#1a1a1a;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"m 343.82468,473.18226 a 34.055508,34.055508 0 0 0 -3.09212,0.0522 34.055507,34.055507 0 0 1 3.09212,-0.0522 z m 2.888,0.21423 a 34.055508,34.055508 0 0 1 2.56146,0.34693 34.055507,34.055507 0 0 0 -1.6328,-0.26543 34.055507,34.055507 0 0 0 -0.92866,-0.0815 z m -9.96006,0.337 a 34.055508,34.055508 0 0 0 -2.93904,0.68374 34.055507,34.055507 0 0 1 2.93904,-0.68374 z m 12.97054,0.11234 a 34.055508,34.055508 0 0 1 2.94924,0.73479 34.055507,34.055507 0 0 0 -2.94924,-0.73479 z m -16.27696,0.68374 a 34.055507,34.055507 0 0 0 -2.71453,0.90825 34.055507,34.055507 0 0 0 -0.46941,0.19384 34.055508,34.055508 0 0 1 3.18396,-1.10215 z m 19.54255,0.14264 a 34.055507,34.055507 0 0 1 2.86761,1.03072 34.055508,34.055508 0 0 0 -2.86761,-1.03072 z m -23.01225,1.07153 a 34.055508,34.055508 0 0 0 -2.42879,1.11235 34.055507,34.055507 0 0 1 2.42879,-1.11235 z m 30.03329,1.93898 -0.0104,0.0208 a 34.055507,34.055507 0 0 1 0.14286,0.0716 34.055508,34.055508 0 0 0 -0.13267,-0.092 z m -34.03364,0.0314 a 34.055508,34.055508 0 0 0 -11.49082,10.89889 34.055507,34.055507 0 0 0 -0.24489,0.37777 34.055507,34.055507 0 0 0 -0.79599,1.25518 34.055507,34.055507 0 0 0 -0.66332,1.27563 34.055507,34.055507 0 0 0 -0.46942,0.88787 34.055508,34.055508 0 0 0 0,0.0104 34.055508,34.055508 0 0 0 -3.34723,14.74618 l 25.33898,0.0104 a 8.6551263,8.6551263 0 0 1 0,-0.0104 8.6551263,8.6551263 0 0 1 4.34733,-7.49045 l -12.6746,-21.96111 z m 34.01323,0 -12.695,21.98154 a 8.6551263,8.6551263 0 0 1 4.3167,7.45983 l 25.39002,0 a 34.055508,34.055508 0 0 0 0,-0.16302 34.055507,34.055507 0 0 0 -0.0817,-1.76546 34.055508,34.055508 0 0 0 -6.42915,-18.07301 34.055508,34.055508 0 0 0 -0.95927,-1.25525 34.055508,34.055508 0 0 0 -1.09193,-1.29599 34.055508,34.055508 0 0 0 -1.24501,-1.32667 34.055508,34.055508 0 0 0 -1.2348,-1.19401 34.055508,34.055508 0 0 0 -1.05112,-0.92863 34.055508,34.055508 0 0 0 -4.36773,-3.13294 34.055507,34.055507 0 0 0 -0.55108,-0.30618 z m 16.93008,27.51263 a 34.055508,34.055508 0 0 1 0.0714,0.91844 34.055507,34.055507 0 0 0 -0.0104,-0.21422 34.055507,34.055507 0 0 0 -0.0817,-1.05115 34.055507,34.055507 0 0 1 0.0204,0.34693 z m -33.96221,-4.14323 a 6.0893004,6.0893004 0 0 0 -6.09238,6.08216 6.0893004,6.0893004 0 0 0 6.09238,6.0924 6.0893004,6.0893004 0 0 0 6.08218,-6.0924 6.0893004,6.0893004 0 0 0 -6.08218,-6.08216 z m -33.98261,6.1332 a 34.055508,34.055508 0 0 0 -0.0104,0.69394 34.055507,34.055507 0 0 0 0,0.11233 34.055508,34.055508 0 0 0 0.0512,1.31643 34.055507,34.055507 0 0 0 0,0.0418 34.055508,34.055508 0 0 0 0.10204,1.07153 34.055507,34.055507 0 0 1 -0.14285,-3.23498 z m 0.17346,3.4595 a 34.055508,34.055508 0 0 0 0.0512,0.63269 34.055507,34.055507 0 0 0 0.0204,0.14316 34.055508,34.055508 0 0 0 0.18372,1.24501 34.055507,34.055507 0 0 0 0.0104,0.0919 34.055508,34.055508 0 0 0 0.20408,1.04091 34.055507,34.055507 0 0 1 -0.46941,-3.15336 z m 0.51028,3.36764 a 34.055508,34.055508 0 0 0 0.13265,0.60212 34.055507,34.055507 0 0 0 0.0204,0.092 34.055508,34.055508 0 0 0 0.34698,1.40828 34.055507,34.055507 0 0 0 0,0.0104 34.055508,34.055508 0 0 0 0.27552,0.86739 34.055507,34.055507 0 0 1 -0.77559,-2.97984 z m 37.61559,0.61232 a 8.6551263,8.6551263 0 0 1 -4.31671,1.17357 8.6551263,8.6551263 0 0 1 -4.30651,-1.1532 l -12.67459,21.94074 0,0.0104 a 34.055507,34.055507 0 0 0 1.05111,0.61226 34.055507,34.055507 0 0 0 0.0308,0.0209 34.055508,34.055508 0 0 0 0.44903,0.2346 34.055508,34.055508 0 0 0 0.11223,0.0611 34.055507,34.055507 0 0 0 0.0308,0.0208 34.055508,34.055508 0 0 0 1.38788,0.63269 34.055507,34.055507 0 0 0 0.0919,0.0418 34.055508,34.055508 0 0 0 0.44903,0.19385 34.055507,34.055507 0 0 0 0.10204,0.0418 34.055508,34.055508 0 0 0 1.06132,0.45927 34.055508,34.055508 0 0 0 1.58178,0.54084 34.055508,34.055508 0 0 0 1.68382,0.5204 34.055508,34.055508 0 0 0 1.59197,0.37778 34.055508,34.055508 0 0 0 1.70424,0.35738 34.055508,34.055508 0 0 0 1.75525,0.2346 34.055508,34.055508 0 0 0 1.60219,0.15309 34.055508,34.055508 0 0 0 1.69403,0.0611 34.055508,34.055508 0 0 0 1.78588,0 34.055508,34.055508 0 0 0 1.48992,-0.10189 34.055508,34.055508 0 0 0 3.40847,-0.43889 34.055508,34.055508 0 0 0 7.90886,-2.43901 34.055508,34.055508 0 0 0 0.91845,-0.4692 34.055507,34.055507 0 0 0 2.10223,-1.12259 l 0.0104,0.0314 a 34.055508,34.055508 0 0 0 0.36737,-0.23459 34.055507,34.055507 0 0 1 -0.37762,0.19384 l -12.695,-21.95092 z m 13.07258,21.75702 a 34.055507,34.055507 0 0 0 0.17347,-0.0919 34.055507,34.055507 0 0 0 1.54096,-1.0103 34.055508,34.055508 0 0 1 -1.71443,1.10215 z m 15.13401,-19.25683 a 34.055508,34.055508 0 0 1 -0.87762,2.57166 34.055507,34.055507 0 0 0 0.0714,-0.17347 34.055507,34.055507 0 0 0 0.0204,-0.0716 34.055507,34.055507 0 0 0 0.78579,-2.32677 z m -0.87762,2.57166 a 34.055507,34.055507 0 0 1 -1.40829,3.09214 34.055507,34.055507 0 0 1 -0.0512,0.10188 34.055507,34.055507 0 0 1 -0.0612,0.13272 34.055508,34.055508 0 0 0 0.52046,-0.97969 34.055508,34.055508 0 0 0 1.0001,-2.34715 z m -64.05674,-2.31731 a 34.055508,34.055508 0 0 0 0.11223,0.37776 34.055507,34.055507 0 0 0 0.0104,0.0209 34.055508,34.055508 0 0 0 0.51027,1.47976 34.055508,34.055508 0 0 0 0.44903,1.09191 34.055507,34.055507 0 0 1 -1.08173,-2.96966 z m 1.12256,3.05132 a 34.055508,34.055508 0 0 0 0.21432,0.53064 34.055507,34.055507 0 0 0 0.0308,0.0611 34.055508,34.055508 0 0 0 0.69394,1.45927 34.055508,34.055508 0 0 0 0.4694,0.85726 34.055507,34.055507 0 0 1 -1.40829,-2.90841 z m 1.54094,3.15331 a 34.055508,34.055508 0 0 0 1.59198,2.59211 34.055507,34.055507 0 0 1 -1.59198,-2.59211 z m 1.8267,2.93904 a 34.055508,34.055508 0 0 0 0.20408,0.3161 34.055507,34.055507 0 0 0 0.0715,0.092 34.055508,34.055508 0 0 0 0.21433,0.32656 34.055508,34.055508 0 0 0 0.58168,0.77553 34.055508,34.055508 0 0 0 0.11223,0.13272 34.055507,34.055507 0 0 0 0.0612,0.0815 34.055508,34.055508 0 0 0 0.54086,0.64293 34.055507,34.055507 0 0 1 -1.78587,-2.36758 z m 54.33137,2.07164 a 34.055508,34.055508 0 0 1 -0.87763,1.04092 34.055507,34.055507 0 0 0 0.28575,-0.30619 34.055507,34.055507 0 0 0 0.0308,-0.0314 34.055507,34.055507 0 0 0 0.56127,-0.70411 z m -52.23934,0.64288 a 34.055508,34.055508 0 0 0 1.90833,2.0614 34.055507,34.055507 0 0 1 -1.90833,-2.0614 z m 50.1269,1.71447 a 34.055508,34.055508 0 0 1 -1.28583,1.245 34.055507,34.055507 0 0 0 0.21433,-0.18392 34.055507,34.055507 0 0 0 0.77558,-0.74492 34.055507,34.055507 0 0 0 0.29594,-0.31663 z m -47.46341,1.0919 a 34.055508,34.055508 0 0 0 2.55125,2.15326 34.055507,34.055507 0 0 1 -2.55125,-2.15326 z m 45.12647,1.07154 a 34.055508,34.055508 0 0 1 -1.00009,0.79597 34.055507,34.055507 0 0 0 0.40822,-0.29573 34.055507,34.055507 0 0 0 0.17347,-0.13272 34.055507,34.055507 0 0 0 0.41842,-0.36732 z m -42.50378,1.13277 a 34.055507,34.055507 0 0 0 0.0715,0.0611 34.055507,34.055507 0 0 0 2.12262,1.46952 34.055508,34.055508 0 0 1 -2.19406,-1.53075 z\"\n       id=\"turbine_rotor\"\n       inkscape:connector-curvature=\"0\"\n       inkscape:label=\"{&quot;attr&quot;:&quot;rotate&quot;,&quot;max&quot;:360,&quot;min&quot;:0,&quot;tag&quot;:&quot;Turbine_rotor&quot;}\" />\n    <path\n       style=\"fill:#808080;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"m 7.1363784,408.25772 0,145.79871 49.0408616,0 50.62214,0 43.31409,0 0.44873,0 43.76283,0 0,-67.12844 -44.21158,-42.21806 0,41.78945 -43.76282,-41.78945 0,34.52347 -50.173408,-45.33056 0,-25.64512 -49.0408716,0 z\"\n       id=\"rect3538\"\n       inkscape:connector-curvature=\"0\" />\n    <path\n       style=\"fill:#808080;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"m 211.02409,340.19702 a 86.631164,285.40962 3.9221439 0 1 -2.46038,55.8044 86.631164,285.40962 3.9221439 0 1 -26.91237,158.15997 l 127.75628,0 a 285.40962,86.631164 86.077856 0 1 -26.82382,-158.15997 285.40962,86.631164 86.077856 0 1 -2.38448,-55.8044 l -69.17523,0 z\"\n       id=\"rect3292\"\n       inkscape:connector-curvature=\"0\" />\n    <rect\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3552\"\n       width=\"14.019691\"\n       height=\"12.535252\"\n       x=\"177.17088\"\n       y=\"496.50491\" />\n    <rect\n       y=\"496.50491\"\n       x=\"156.27106\"\n       height=\"12.535252\"\n       width=\"14.019691\"\n       id=\"rect3554\"\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <rect\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3556\"\n       width=\"14.019691\"\n       height=\"12.535252\"\n       x=\"135.37125\"\n       y=\"496.50491\" />\n    <rect\n       y=\"496.50491\"\n       x=\"114.47141\"\n       height=\"12.535252\"\n       width=\"14.019691\"\n       id=\"rect3558\"\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <rect\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3560\"\n       width=\"14.019691\"\n       height=\"12.535252\"\n       x=\"93.571594\"\n       y=\"496.50491\" />\n    <rect\n       y=\"496.50491\"\n       x=\"72.671761\"\n       height=\"12.535252\"\n       width=\"14.019691\"\n       id=\"rect3562\"\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <rect\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3564\"\n       width=\"14.019691\"\n       height=\"12.535252\"\n       x=\"51.771954\"\n       y=\"496.50491\" />\n    <rect\n       y=\"444.25537\"\n       x=\"51.771954\"\n       height=\"12.535252\"\n       width=\"14.019691\"\n       id=\"rect3566\"\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <rect\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3568\"\n       width=\"14.019691\"\n       height=\"12.535252\"\n       x=\"30.872137\"\n       y=\"444.25537\" />\n    <rect\n       y=\"444.25537\"\n       x=\"9.972312\"\n       height=\"12.535252\"\n       width=\"14.019691\"\n       id=\"rect3570\"\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <rect\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3572\"\n       width=\"14.019691\"\n       height=\"12.535252\"\n       x=\"9.972312\"\n       y=\"444.25537\" />\n    <rect\n       y=\"496.50491\"\n       x=\"30.872137\"\n       height=\"12.535252\"\n       width=\"14.019691\"\n       id=\"rect3574\"\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <rect\n       style=\"fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3576\"\n       width=\"14.019691\"\n       height=\"12.535252\"\n       x=\"9.972312\"\n       y=\"496.50491\" />\n    <path\n       style=\"fill:#808080;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"M 568.92773 169.80859 L 568.92773 178.53711 L 545.48242 178.53711 L 545.48242 188.71094 L 550.33984 188.71094 L 550.33984 235.73633 L 545.48242 235.73633 L 545.48242 245.91016 L 600.03125 245.91016 L 600.03125 235.73633 L 596.39258 235.73633 L 596.39258 188.71094 L 600.03125 188.71094 L 600.03125 178.53711 L 578.21484 178.53711 L 578.21484 169.80859 L 568.92773 169.80859 z \"\n       transform=\"translate(0,308.26771)\"\n       id=\"rect3578\" />\n    <rect\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3580\"\n       width=\"7.2443833\"\n       height=\"180.43849\"\n       x=\"819.89581\"\n       y=\"388.06064\" />\n    <path\n       style=\"fill:#d40000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"m 649.26562,92.951172 0,0.714844 0,7.857424 0,65.71484 -254.28515,0 0,8.57031 254.28515,0 0,0.002 8.57227,0 0,-74.28711 290.27344,0 0,265.38672 -862.919924,0 0,-0.0176 -8.570312,0 0,21.83789 8.570312,0 0,-13.24805 862.919924,0 0,0.0137 8.57226,0 0,-281.687496 -0.01,0 0,-0.857422 -307.40821,0 z\"\n       transform=\"translate(0,308.26771)\"\n       id=\"transmissionline2\"\n       inkscape:connector-curvature=\"0\" />\n    <rect\n       ry=\"1.4520943\"\n       y=\"367.35251\"\n       x=\"876.43359\"\n       height=\"13.131983\"\n       width=\"4.9244938\"\n       id=\"rect3620\"\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <rect\n       y=\"373.23767\"\n       x=\"857.89581\"\n       height=\"155.56348\"\n       width=\"5.7291546\"\n       id=\"rect3616\"\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <rect\n       y=\"-837.26892\"\n       x=\"667.4599\"\n       height=\"105.98032\"\n       width=\"6.7467585\"\n       id=\"rect3614\"\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       transform=\"matrix(0.15790047,0.98745503,-0.93411138,0.3569817,0,0)\"\n       ry=\"2.7977271\" />\n    <rect\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3618\"\n       width=\"4.9244938\"\n       height=\"13.131983\"\n       x=\"806.48053\"\n       y=\"393.11139\"\n       ry=\"1.3908184\" />\n    <rect\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3636\"\n       width=\"4.9244938\"\n       height=\"13.131983\"\n       x=\"560.25586\"\n       y=\"640.09369\"\n       ry=\"1.4520943\" />\n    <rect\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3638\"\n       width=\"5.7291546\"\n       height=\"130.30966\"\n       x=\"541.71808\"\n       y=\"645.97888\" />\n    <rect\n       y=\"660.80182\"\n       x=\"503.71805\"\n       height=\"151.64914\"\n       width=\"7.2443833\"\n       id=\"rect3634\"\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <rect\n       ry=\"2.7977271\"\n       transform=\"matrix(0.15790047,0.98745503,-0.93411138,0.3569817,0,0)\"\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"rect3640\"\n       width=\"6.7467585\"\n       height=\"105.98032\"\n       x=\"812.44019\"\n       y=\"-474.28201\" />\n    <rect\n       ry=\"1.3908184\"\n       y=\"665.8526\"\n       x=\"490.30276\"\n       height=\"13.131983\"\n       width=\"4.9244938\"\n       id=\"rect3642\"\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <path\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"m 80.960938,692.6349 c -1.978572,0 -3.570313,1.59174 -3.570313,3.57031 l 0,0.73828 c -5.832035,0.42631 -10.105469,1.78214 -10.105469,3.41797 0,1.26456 2.552406,2.36571 6.398438,3 -3.846048,0.63429 -6.398438,1.73544 -6.398438,3 0,1.26456 2.552406,2.36571 6.398438,3 -3.846048,0.63429 -6.398438,1.73544 -6.398438,3 0,1.26456 2.552406,2.36571 6.398438,3 -3.846048,0.63429 -6.398438,1.73544 -6.398438,3 0,1.26456 2.552406,2.36571 6.398438,3 -3.846048,0.63429 -6.398438,1.73544 -6.398438,3 0,1.26456 2.552406,2.36571 6.398438,3 -3.846048,0.63429 -6.398438,1.73544 -6.398438,3 0,1.26456 2.552406,2.36571 6.398438,3 -3.846048,0.63429 -6.398438,1.73544 -6.398438,3 0,1.63583 4.273434,2.99361 10.105469,3.41992 l 0,2.91406 c 0,1.97858 1.591741,3.57032 3.570313,3.57032 1.978571,0 3.572265,-1.59174 3.572265,-3.57032 l 0,-2.87304 c 6.094734,-0.38141 10.609375,-1.77745 10.609375,-3.46094 0,-1.26459 -2.552274,-2.36572 -6.398437,-3 3.846147,-0.63428 6.398437,-1.73542 6.398437,-3 0,-1.26459 -2.552274,-2.36572 -6.398437,-3 3.846147,-0.63428 6.398437,-1.73542 6.398437,-3 0,-1.26459 -2.552274,-2.36572 -6.398437,-3 3.846147,-0.63428 6.398437,-1.73542 6.398437,-3 0,-1.26459 -2.552274,-2.36572 -6.398437,-3 3.846147,-0.63428 6.398437,-1.73542 6.398437,-3 0,-1.26459 -2.552274,-2.36572 -6.398437,-3 3.846147,-0.63428 6.398437,-1.73542 6.398437,-3 0,-1.26459 -2.552274,-2.36572 -6.398437,-3 3.846147,-0.63428 6.398437,-1.73542 6.398437,-3 0,-1.68349 -4.514641,-3.07757 -10.609375,-3.45898 l 0,-0.69727 c 0,-1.97857 -1.593694,-3.57031 -3.572265,-3.57031 z\"\n       id=\"rect3646\"\n       inkscape:connector-curvature=\"0\" />\n    <path\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"M 172.96094 384.36719 C 170.98237 384.36719 169.39062 385.95893 169.39062 387.9375 L 169.39062 388.67578 C 163.55833 389.10183 159.28516 390.45792 159.28516 392.09375 C 159.28516 393.35831 161.83756 394.45946 165.68359 395.09375 C 161.83755 395.72804 159.28516 396.82919 159.28516 398.09375 C 159.28516 399.35831 161.83756 400.45946 165.68359 401.09375 C 161.83755 401.72804 159.28516 402.82919 159.28516 404.09375 C 159.28516 405.35831 161.83756 406.45946 165.68359 407.09375 C 161.83755 407.72804 159.28516 408.82919 159.28516 410.09375 C 159.28516 411.35831 161.83756 412.45946 165.68359 413.09375 C 161.83755 413.72804 159.28516 414.82919 159.28516 416.09375 C 159.28516 417.35831 161.83756 418.45946 165.68359 419.09375 C 161.83755 419.72804 159.28516 420.82919 159.28516 422.09375 C 159.28516 423.35831 161.83756 424.45946 165.68359 425.09375 C 161.83755 425.72804 159.28516 426.82919 159.28516 428.09375 C 159.28516 429.72958 163.55833 431.08716 169.39062 431.51367 L 169.39062 434.42773 C 169.39062 436.40631 170.98237 437.99805 172.96094 437.99805 C 174.93951 437.99805 176.5332 436.40631 176.5332 434.42773 L 176.5332 431.55469 C 182.62857 431.17324 187.14258 429.77739 187.14258 428.09375 C 187.14258 426.82916 184.5903 425.72803 180.74414 425.09375 C 184.59029 424.45947 187.14258 423.35833 187.14258 422.09375 C 187.14258 420.82916 184.5903 419.72803 180.74414 419.09375 C 184.59029 418.45947 187.14258 417.35833 187.14258 416.09375 C 187.14258 414.82916 184.5903 413.72803 180.74414 413.09375 C 184.59029 412.45947 187.14258 411.35833 187.14258 410.09375 C 187.14258 408.82916 184.5903 407.72803 180.74414 407.09375 C 184.59029 406.45947 187.14258 405.35833 187.14258 404.09375 C 187.14258 402.82916 184.5903 401.72803 180.74414 401.09375 C 184.59029 400.45947 187.14258 399.35833 187.14258 398.09375 C 187.14258 396.82916 184.5903 395.72803 180.74414 395.09375 C 184.59029 394.45947 187.14258 393.35833 187.14258 392.09375 C 187.14258 390.41011 182.62857 389.01579 176.5332 388.63477 L 176.5332 387.9375 C 176.5332 385.95893 174.93951 384.36719 172.96094 384.36719 z \"\n       transform=\"translate(0,308.26771)\"\n       id=\"rect3668\" />\n    <path\n       inkscape:connector-curvature=\"0\"\n       id=\"path3708\"\n       d=\"m 80.960938,970.26576 c -1.978572,0 -3.570313,-1.59174 -3.570313,-3.57031 l 0,-0.73828 c -5.832035,-0.42631 -10.105469,-1.78214 -10.105469,-3.41797 0,-1.26456 2.552406,-2.36571 6.398438,-3 -3.846048,-0.63429 -6.398438,-1.73544 -6.398438,-3 0,-1.26456 2.552406,-2.36571 6.398438,-3 -3.846048,-0.63429 -6.398438,-1.73544 -6.398438,-3 0,-1.26456 2.552406,-2.36571 6.398438,-3 -3.846048,-0.63429 -6.398438,-1.73544 -6.398438,-3 0,-1.26456 2.552406,-2.36571 6.398438,-3 -3.846048,-0.63429 -6.398438,-1.73544 -6.398438,-3 0,-1.26456 2.552406,-2.36571 6.398438,-3 -3.846048,-0.63429 -6.398438,-1.73544 -6.398438,-3 0,-1.26456 2.552406,-2.36571 6.398438,-3 -3.846048,-0.63429 -6.398438,-1.73544 -6.398438,-3 0,-1.63583 4.273434,-2.99361 10.105469,-3.41992 l 0,-2.91406 c 0,-1.97858 1.591741,-3.57032 3.570313,-3.57032 1.978571,0 3.572265,1.59174 3.572265,3.57032 l 0,2.87304 c 6.094734,0.38141 10.609375,1.77745 10.609375,3.46094 0,1.26459 -2.552274,2.36572 -6.398437,3 3.846147,0.63428 6.398437,1.73542 6.398437,3 0,1.26459 -2.552274,2.36572 -6.398437,3 3.846147,0.63428 6.398437,1.73542 6.398437,3 0,1.26459 -2.552274,2.36572 -6.398437,3 3.846147,0.63428 6.398437,1.73542 6.398437,3 0,1.26459 -2.552274,2.36572 -6.398437,3 3.846147,0.63428 6.398437,1.73542 6.398437,3 0,1.26459 -2.552274,2.36572 -6.398437,3 3.846147,0.63428 6.398437,1.73542 6.398437,3 0,1.26459 -2.552274,2.36572 -6.398437,3 3.846147,0.63428 6.398437,1.73542 6.398437,3 0,1.68349 -4.514641,3.07757 -10.609375,3.45898 l 0,0.69727 c 0,1.97857 -1.593694,3.57031 -3.572265,3.57031 z\"\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <path\n       id=\"path3711\"\n       d=\"m 172.96094,970.26576 c -1.97857,0 -3.57032,-1.59174 -3.57032,-3.57031 l 0,-0.73828 c -5.83229,-0.42605 -10.10546,-1.78214 -10.10546,-3.41797 0,-1.26456 2.5524,-2.36571 6.39843,-3 -3.84604,-0.63429 -6.39843,-1.73544 -6.39843,-3 0,-1.26456 2.5524,-2.36571 6.39843,-3 -3.84604,-0.63429 -6.39843,-1.73544 -6.39843,-3 0,-1.26456 2.5524,-2.36571 6.39843,-3 -3.84604,-0.63429 -6.39843,-1.73544 -6.39843,-3 0,-1.26456 2.5524,-2.36571 6.39843,-3 -3.84604,-0.63429 -6.39843,-1.73544 -6.39843,-3 0,-1.26456 2.5524,-2.36571 6.39843,-3 -3.84604,-0.63429 -6.39843,-1.73544 -6.39843,-3 0,-1.26456 2.5524,-2.36571 6.39843,-3 -3.84604,-0.63429 -6.39843,-1.73544 -6.39843,-3 0,-1.63583 4.27317,-2.99341 10.10546,-3.41992 l 0,-2.91406 c 0,-1.97858 1.59175,-3.57032 3.57032,-3.57032 1.97857,0 3.57226,1.59174 3.57226,3.57032 l 0,2.87304 c 6.09537,0.38145 10.60938,1.7773 10.60938,3.46094 0,1.26459 -2.55228,2.36572 -6.39844,3 3.84615,0.63428 6.39844,1.73542 6.39844,3 0,1.26459 -2.55228,2.36572 -6.39844,3 3.84615,0.63428 6.39844,1.73542 6.39844,3 0,1.26459 -2.55228,2.36572 -6.39844,3 3.84615,0.63428 6.39844,1.73542 6.39844,3 0,1.26459 -2.55228,2.36572 -6.39844,3 3.84615,0.63428 6.39844,1.73542 6.39844,3 0,1.26459 -2.55228,2.36572 -6.39844,3 3.84615,0.63428 6.39844,1.73542 6.39844,3 0,1.26459 -2.55228,2.36572 -6.39844,3 3.84615,0.63428 6.39844,1.73542 6.39844,3 0,1.68364 -4.51401,3.07796 -10.60938,3.45898 l 0,0.69727 c 0,1.97857 -1.59369,3.57031 -3.57226,3.57031 z\"\n       style=\"fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       inkscape:connector-curvature=\"0\" />\n    <rect\n       style=\"fill:#008000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"SubContact1\"\n       width=\"14.285714\"\n       height=\"177.85713\"\n       x=\"73.39286\"\n       y=\"740.93359\"\n       ry=\"7.666256\"\n       rx=\"4.2857141\"\n       inkscape:label=\"{&quot;attr&quot;:&quot;rotate&quot;,&quot;max&quot;:360,&quot;min&quot;:0,&quot;tag&quot;:&quot;SubContact1&quot;}\" />\n    <rect\n       rx=\"4.2857141\"\n       ry=\"7.666256\"\n       y=\"740.93359\"\n       x=\"165.39287\"\n       height=\"177.85713\"\n       width=\"14.285714\"\n       id=\"SubContact2\"\n       style=\"fill:#008000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       inkscape:label=\"{&quot;attr&quot;:&quot;rotate&quot;,&quot;max&quot;:360,&quot;min&quot;:0,&quot;tag&quot;:&quot;SubContact2&quot;}\" />\n    <path\n       style=\"fill:url(#radialGradient4541);fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       id=\"path3719\"\n       sodipodi:type=\"arc\"\n       sodipodi:cx=\"80.311516\"\n       sodipodi:cy=\"831.13556\"\n       sodipodi:rx=\"12.5\"\n       sodipodi:ry=\"12.5\"\n       sodipodi:start=\"0.0043130882\"\n       sodipodi:end=\"0\"\n       d=\"m 92.8114,831.18947 a 12.5,12.5 0 1 1 1.16e-4,-0.0539\"\n       sodipodi:open=\"true\" />\n    <path\n       sodipodi:open=\"true\"\n       d=\"m 185.29618,831.18947 a 12.5,12.5 0 1 1 1.2e-4,-0.0539\"\n       sodipodi:end=\"0\"\n       sodipodi:start=\"0.0043130882\"\n       sodipodi:ry=\"12.5\"\n       sodipodi:rx=\"12.5\"\n       sodipodi:cy=\"831.13556\"\n       sodipodi:cx=\"172.7963\"\n       sodipodi:type=\"arc\"\n       id=\"path3721\"\n       style=\"fill:url(#radialGradient4549);fill-opacity:1;fill-rule:evenodd;stroke:none\" />\n    <path\n       id=\"path4551\"\n       d=\"m 341.6282,970.11691 0,8.72852 -23.44531,0 0,10.17383 4.85742,0 0,47.02534 -4.85742,0 0,10.1739 54.54883,0 0,-10.1739 -3.63867,0 0,-47.02534 3.63867,0 0,-10.17383 -21.81641,0 0,-8.72852 -9.28711,0 z\"\n       style=\"fill:#808080;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       inkscape:connector-curvature=\"0\" />\n    <path\n       style=\"fill:#d40000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"m 385.97461,659.21484 0,0.0274 -215.25977,0 0,5.05078 215.25977,0 0,61.89844 5.05078,0 0,-0.006 110.68359,0 0,-5.05078 -110.68359,0 0,-61.91993 -5.05078,0 z\"\n       transform=\"translate(0,308.26771)\"\n       id=\"distributionline2\"\n       inkscape:connector-curvature=\"0\" />\n    <path\n       style=\"fill:#d40000;fill-opacity:1;fill-rule:evenodd;stroke:none\"\n       d=\"m 77.974609,659.69922 0,10.6543 -0.01367,0 0,5.05078 342.013672,0 0,34.21484 0.0195,0 0,4.56641 81.68555,0 0,-5.05078 -76.6543,0 0,-38.80274 -5.05078,0 0,0.0215 -336.949219,0 0,-10.6543 -5.050782,0 z\"\n       transform=\"translate(0,308.26771)\"\n       id=\"distributionline1\"\n       inkscape:connector-curvature=\"0\" />\n    <g\n       transform=\"matrix(-0.32339102,0,0,0.32339102,1085.675,906.49555)\"\n       id=\"g4523\">\n      <g\n         id=\"g4628\"\n         transform=\"translate(0,-280)\">\n        <path\n           d=\"m 1156,50 0,18 -28,0 -28,0 0,10 0,10 -8,0 -8,0 0,12 0,12 5,0 5,0 0,87 0,87 19,0 19,0 0,-5 0,-5 7,0 7,0 0,5 c 0,4.9 0.1,5 3,5 2.9,0 3,-0.1 3,-5 l 0,-5 7,0 7,0 0,5 0,5 12,0 12,0 0,76 0,76 -7,0 -7,0 0,-71 0,-71 -101,0 -101,0 0,174 0,174 -6,0 -6,0 0,-132 0,-132 -56,0 -56,0 0,159 0,159 314,0 314,0 0,-167 c 0,-110.7 0.3,-167 1,-167 0.6,0 1,-2.7 1,-6 l 0,-6 -39,0 -39,0 0,-30 0,-30 -6,0 -6,0 0,9 0,9 -12,0 -12,0 0,9 0,9 -35,0 -35,0 0,12 0,12 -13,0 -13,0 0,6 c 0,5.3 0.2,6 2,6 2,0 2,0.7 2,43 l 0,43 -6,0 -6,0 0,-169 0,-169 4,0 4,0 0,-12 0,-12 -10,0 -10,0 0,-16 0,-16 -26,0 -26,0 0,16 0,16 -7,0 -7,0 0,-20 0,-20 -5,0 -5,0 0,-8 0,-8 -9,0 -9,0 z m -30,78 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 80,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -80,22 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 80,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 0,22 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -100,22 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 80,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -120,22 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 100,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -120,22 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 80,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -100,22 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 80,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -40,22 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 0,22 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 0,22 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -92,1 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 0,18 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 72,3 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -92,15 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 52,7 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 40,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 68,14 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m -300,-3 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 52,11 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -92,7 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 160,13 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m -228,2 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -92,3 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 72,19 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -92,-1 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 160,5 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m -300,13 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 72,5 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 68,10 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m -300,3 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 72,9 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -72,9 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 160,7 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m -228,6 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -92,5 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 160,17 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m -228,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -72,1 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 0,18 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 72,3 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 88,6 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m -300,9 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 72,7 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 68,12 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m -300,-1 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 72,11 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -92,7 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 160,11 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m -228,4 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m -92,3 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z m 72,19 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 20,0 0,6 -7,0 -7,0 0,-6 0,-6 7,0 7,0 z m 68,2 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m 28,0 0,8 -10,0 -10,0 0,-8 0,-8 10,0 10,0 z m -300,-3 0,3 -78,0 -78,0 0,-3 0,-3 78,0 78,0 z\"\n           id=\"path4\"\n           inkscape:connector-curvature=\"0\"\n           style=\"fill:#000000;stroke:none\" />\n        <path\n           d=\"m 1004,61 0,17 -19,0 -19,0 0,7 0,7 -14,0 -14,0 0,7 0,7 4,0 4,0 0,132 0,132 9,0 9,0 0,-42 0,-42 46,0 46,0 0,-90 c 0,-89.3 0,-90 2,-90 1.8,0 2,-0.7 2,-7 l 0,-7 -7,0 -7,0 0,-21 0,-21 -10,0 -10,0 0,3 0,3 -9,0 -9,0 0,-6 c 0,-5.3 -0.2,-6 -2,-6 -1.9,0 -2,0.7 -2,17 z\"\n           id=\"path6\"\n           inkscape:connector-curvature=\"0\"\n           style=\"fill:#000000;stroke:none\" />\n        <path\n           style=\"fill:#000000;stroke:none\"\n           d=\"M 820.49414 560.06836 L 820.49414 564.27148 L 820.49414 568.47656 L 818.23047 568.47656 L 815.9668 568.47656 L 815.9668 571.22461 C 815.96191 574.89675 813.97688 576.78503 809.43359 576.88477 L 806.26562 576.88477 L 806.26562 580.76562 L 806.26562 584.64453 L 807.23438 584.64453 L 808.20508 584.64453 L 808.20508 588.52539 L 808.20508 592.40625 L 807.23438 592.40625 L 806.26562 592.40625 L 806.26562 596.28711 L 806.26562 600.16797 L 807.23438 600.16797 L 808.20508 600.16797 L 808.20508 604.37305 L 808.20508 608.57617 L 807.23438 608.57617 L 806.26562 608.57617 L 806.26562 612.45703 L 806.26562 616.33789 L 807.23438 616.33789 L 808.20508 616.33789 L 808.20508 620.54102 L 808.20508 624.74609 L 807.23438 624.74609 C 806.29654 624.74609 806.26562 624.77867 806.26562 626.36328 L 806.26562 627.98047 L 811.43945 627.98047 L 816.61328 627.98047 L 816.61328 630.56641 L 816.61328 633.1543 L 817.58398 633.1543 L 818.55469 633.1543 L 818.55469 636.71094 L 818.55469 640.26953 L 817.58398 640.26953 L 816.61328 640.26953 L 816.61328 644.47266 L 816.61328 648.67773 L 817.58398 648.67773 L 818.55469 648.67773 L 818.55469 652.23438 L 818.55469 655.79102 L 817.58398 655.79102 L 816.61328 655.79102 L 816.61328 659.99609 L 816.61328 664.19922 L 817.58398 664.19922 L 818.55469 664.19922 L 818.55469 667.75781 L 818.55469 671.31445 L 817.58398 671.31445 L 816.61328 671.31445 L 816.61328 702.35938 L 816.61328 733.40625 L 866.41602 733.40625 L 916.21875 733.40625 L 916.21875 674.87109 L 916.21875 616.33789 L 896.81445 616.33789 L 877.41016 616.33789 L 877.41016 640.91602 C 877.41016 665.26736 877.41045 665.49414 876.76367 665.49414 C 876.18157 665.49414 876.11719 665.26783 876.11719 663.23047 L 876.11719 660.96484 L 869.65039 660.96484 L 863.18164 660.96484 L 863.18164 659.34961 L 863.18164 657.73242 L 860.59375 657.73242 L 858.00781 657.73242 L 858.00781 655.79102 L 858.00781 653.85156 L 856.71484 653.85156 L 855.41992 653.85156 L 855.41992 659.67188 L 855.41992 665.49414 L 850.57031 665.49414 L 845.71875 665.49414 L 845.71875 664.19922 L 847.01172 664.19922 L 847.01172 656.4375 L 845.71875 656.4375 L 845.71875 648.0293 L 847.01172 648.0293 L 847.01172 640.26953 L 845.71875 640.26953 L 845.71875 632.50781 L 847.01172 632.50781 L 847.01172 624.74609 L 845.71875 624.74609 L 845.71875 616.33789 L 847.01172 616.33789 L 847.01172 608.57617 L 845.71875 608.57617 L 845.71875 600.16797 L 847.01172 600.16797 L 847.01172 592.40625 L 845.71875 592.40625 L 845.71875 584.64648 L 847.01172 584.64453 L 847.01172 576.88477 L 844.10156 576.88477 C 842.38759 576.88477 841.19141 576.87695 841.19141 576.87695 L 827.28516 565.82422 L 824.4375 568.47656 L 823.08203 568.47656 L 821.78711 568.47656 L 821.78711 564.75781 L 821.78711 560.06836 L 820.49414 560.06836 z M 810.78906 585.52344 L 816.2832 585.52344 L 816.2832 591.59375 L 810.78906 591.59375 L 810.78906 585.52344 z M 819.68164 585.52344 L 825.17578 585.52344 L 825.17578 591.59375 L 819.68164 591.59375 L 819.68164 585.52344 z M 828.78906 585.52344 L 834.2832 585.52344 L 834.2832 591.59375 L 828.78906 591.59375 L 828.78906 585.52344 z M 837.53906 585.52344 L 843.0332 585.52344 L 843.0332 591.59375 L 837.53906 591.59375 L 837.53906 585.52344 z M 810.78906 601.52344 L 816.2832 601.52344 L 816.2832 607.59375 L 810.78906 607.59375 L 810.78906 601.52344 z M 819.68164 601.52344 L 825.17578 601.52344 L 825.17578 607.59375 L 819.68164 607.59375 L 819.68164 601.52344 z M 828.78906 601.52344 L 834.2832 601.52344 L 834.2832 607.59375 L 828.78906 607.59375 L 828.78906 601.52344 z M 837.53906 601.52344 L 843.0332 601.52344 L 843.0332 607.59375 L 837.53906 607.59375 L 837.53906 601.52344 z M 810.78906 617.52344 L 816.2832 617.52344 L 816.2832 623.59375 L 810.78906 623.59375 L 810.78906 617.52344 z M 819.68164 617.52344 L 825.17578 617.52344 L 825.17578 623.59375 L 819.68164 623.59375 L 819.68164 617.52344 z M 828.78906 617.52344 L 834.2832 617.52344 L 834.2832 623.59375 L 828.78906 623.59375 L 828.78906 617.52344 z M 837.53906 617.52344 L 843.0332 617.52344 L 843.0332 623.59375 L 837.53906 623.59375 L 837.53906 617.52344 z M 880.78906 619.52344 L 886.28125 619.52344 L 886.28125 625.59375 L 880.78906 625.59375 L 880.78906 619.52344 z M 889.68164 619.52344 L 895.17578 619.52344 L 895.17578 625.59375 L 889.68164 625.59375 L 889.68164 619.52344 z M 898.78906 619.52344 L 904.28125 619.52344 L 904.28125 625.59375 L 898.78906 625.59375 L 898.78906 619.52344 z M 907.53906 619.52344 L 913.03125 619.52344 L 913.03125 625.59375 L 907.53906 625.59375 L 907.53906 619.52344 z M 820.9668 633.34375 L 826.46094 633.34375 L 826.46094 639.41602 L 820.9668 639.41602 L 820.9668 633.34375 z M 829.53906 633.34375 L 835.0332 633.34375 L 835.0332 639.41602 L 829.53906 639.41602 L 829.53906 633.34375 z M 838.11133 633.34375 L 843.60352 633.34375 L 843.60352 639.41602 L 838.11133 639.41602 L 838.11133 633.34375 z M 880.78906 633.52344 L 886.28125 633.52344 L 886.28125 639.59375 L 880.78906 639.59375 L 880.78906 633.52344 z M 889.68164 633.52344 L 895.17578 633.52344 L 895.17578 639.59375 L 889.68164 639.59375 L 889.68164 633.52344 z M 898.78906 633.52344 L 904.28125 633.52344 L 904.28125 639.59375 L 898.78906 639.59375 L 898.78906 633.52344 z M 907.53906 633.52344 L 913.03125 633.52344 L 913.03125 639.59375 L 907.53906 639.59375 L 907.53906 633.52344 z M 880.78906 647.52344 L 886.28125 647.52344 L 886.28125 653.59375 L 880.78906 653.59375 L 880.78906 647.52344 z M 889.68164 647.52344 L 895.17578 647.52344 L 895.17578 653.59375 L 889.68164 653.59375 L 889.68164 647.52344 z M 898.78906 647.52344 L 904.28125 647.52344 L 904.28125 653.59375 L 898.78906 653.59375 L 898.78906 647.52344 z M 907.53906 647.52344 L 913.03125 647.52344 L 913.03125 653.59375 L 907.53906 653.59375 L 907.53906 647.52344 z M 820.9668 649.34375 L 826.46094 649.34375 L 826.46094 655.41602 L 820.9668 655.41602 L 820.9668 649.34375 z M 829.53906 649.34375 L 835.0332 649.34375 L 835.0332 655.41602 L 829.53906 655.41602 L 829.53906 649.34375 z M 838.11133 649.34375 L 843.60352 649.34375 L 843.60352 655.41602 L 838.11133 655.41602 L 838.11133 649.34375 z M 880.78906 661.52344 L 886.28125 661.52344 L 886.28125 667.59375 L 880.78906 667.59375 L 880.78906 661.52344 z M 889.68164 661.52344 L 895.17578 661.52344 L 895.17578 667.59375 L 889.68164 667.59375 L 889.68164 661.52344 z M 898.78906 661.52344 L 904.28125 661.52344 L 904.28125 667.59375 L 898.78906 667.59375 L 898.78906 661.52344 z M 907.53906 661.52344 L 913.03125 661.52344 L 913.03125 667.59375 L 907.53906 667.59375 L 907.53906 661.52344 z M 820.9668 665.34375 L 826.46094 665.34375 L 826.46094 671.41602 L 820.9668 671.41602 L 820.9668 665.34375 z M 829.53906 665.34375 L 835.0332 665.34375 L 835.0332 671.41602 L 829.53906 671.41602 L 829.53906 665.34375 z M 838.11133 665.34375 L 843.60352 665.34375 L 843.60352 671.41602 L 838.11133 671.41602 L 838.11133 665.34375 z M 822.78906 675.52344 L 828.2832 675.52344 L 828.2832 681.59375 L 822.78906 681.59375 L 822.78906 675.52344 z M 831.53906 675.52344 L 837.0332 675.52344 L 837.0332 681.59375 L 831.53906 681.59375 L 831.53906 675.52344 z M 842.78906 675.52344 L 848.2832 675.52344 L 848.2832 681.59375 L 842.78906 681.59375 L 842.78906 675.52344 z M 851.68164 675.52344 L 857.17578 675.52344 L 857.17578 681.59375 L 851.68164 681.59375 L 851.68164 675.52344 z M 860.78906 675.52344 L 866.28125 675.52344 L 866.28125 681.59375 L 860.78906 681.59375 L 860.78906 675.52344 z M 869.53906 675.52344 L 875.03125 675.52344 L 875.03125 681.59375 L 869.53906 681.59375 L 869.53906 675.52344 z M 880.78906 675.52344 L 886.28125 675.52344 L 886.28125 681.59375 L 880.78906 681.59375 L 880.78906 675.52344 z M 889.68164 675.52344 L 895.17578 675.52344 L 895.17578 681.59375 L 889.68164 681.59375 L 889.68164 675.52344 z M 898.78906 675.52344 L 904.28125 675.52344 L 904.28125 681.59375 L 898.78906 681.59375 L 898.78906 675.52344 z M 907.53906 675.52344 L 913.03125 675.52344 L 913.03125 681.59375 L 907.53906 681.59375 L 907.53906 675.52344 z M 822.78906 691.52344 L 828.2832 691.52344 L 828.2832 697.59375 L 822.78906 697.59375 L 822.78906 691.52344 z M 831.53906 691.52344 L 837.0332 691.52344 L 837.0332 697.59375 L 831.53906 697.59375 L 831.53906 691.52344 z M 842.78906 691.52344 L 848.2832 691.52344 L 848.2832 697.59375 L 842.78906 697.59375 L 842.78906 691.52344 z M 851.68164 691.52344 L 857.17578 691.52344 L 857.17578 697.59375 L 851.68164 697.59375 L 851.68164 691.52344 z M 860.78906 691.52344 L 866.28125 691.52344 L 866.28125 697.59375 L 860.78906 697.59375 L 860.78906 691.52344 z M 869.53906 691.52344 L 875.03125 691.52344 L 875.03125 697.59375 L 869.53906 697.59375 L 869.53906 691.52344 z M 880.78906 691.52344 L 886.28125 691.52344 L 886.28125 697.59375 L 880.78906 697.59375 L 880.78906 691.52344 z M 889.68164 691.52344 L 895.17578 691.52344 L 895.17578 697.59375 L 889.68164 697.59375 L 889.68164 691.52344 z M 898.78906 691.52344 L 904.28125 691.52344 L 904.28125 697.59375 L 898.78906 697.59375 L 898.78906 691.52344 z M 907.53906 691.52344 L 913.03125 691.52344 L 913.03125 697.59375 L 907.53906 697.59375 L 907.53906 691.52344 z M 822.78906 707.52344 L 828.2832 707.52344 L 828.2832 713.59375 L 822.78906 713.59375 L 822.78906 707.52344 z M 831.53906 707.52344 L 837.0332 707.52344 L 837.0332 713.59375 L 831.53906 713.59375 L 831.53906 707.52344 z M 842.78906 707.52344 L 848.2832 707.52344 L 848.2832 713.59375 L 842.78906 713.59375 L 842.78906 707.52344 z M 851.68164 707.52344 L 857.17578 707.52344 L 857.17578 713.59375 L 851.68164 713.59375 L 851.68164 707.52344 z M 860.78906 707.52344 L 866.28125 707.52344 L 866.28125 713.59375 L 860.78906 713.59375 L 860.78906 707.52344 z M 869.53906 707.52344 L 875.03125 707.52344 L 875.03125 713.59375 L 869.53906 713.59375 L 869.53906 707.52344 z M 880.78906 707.52344 L 886.28125 707.52344 L 886.28125 713.59375 L 880.78906 713.59375 L 880.78906 707.52344 z M 889.68164 707.52344 L 895.17578 707.52344 L 895.17578 713.59375 L 889.68164 713.59375 L 889.68164 707.52344 z M 898.78906 707.52344 L 904.28125 707.52344 L 904.28125 713.59375 L 898.78906 713.59375 L 898.78906 707.52344 z M 907.53906 707.52344 L 913.03125 707.52344 L 913.03125 713.59375 L 907.53906 713.59375 L 907.53906 707.52344 z \"\n           transform=\"matrix(-3.0922319,0,0,3.0922319,3357.1588,-1569.8592)\"\n           id=\"path8\" />\n        <path\n           d=\"m 512,188 0,12 -19,0 -19,0 10e-6,16 0,15.99975 -20.00025,6 0,87.00025 0,87 -8,0 -8,0 0,-3.6 c 0,-5.6 -1.5,-6.4 -12.4,-6.4 l -9.6,0 0,-9 0,-9 -29,0 -29,0 0,-8 0,-8 -11,0 -11,0 0,-6.6 c 0,-7.6 -1.2,-9.4 -6.4,-9.4 l -3.6,0 0,25 0,25 -33,0 -33,0 0,12.00001 1.99975,0 0,38.00025 -5.19951,0 -60.80025,25.9995 0,32.00024 0,32 -39,0 -39,0 0,78 0,78 94,0 94,0 0,-57 0,-57 -3,0 -3,0 0,-24 0,-24 25,0 25,0 0,-14 c 0,-13.3 0.1,-14 2,-14 1.1,0 2,-0.5 2,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 1.8,-1 4,-1 2.2,0 4,-0.5 4,-1 0,-0.6 3.7,-1 9,-1 5.3,0 9,-0.4 9,-1 0,-0.6 2.3,-1 5,-1 l 5,0 0,13 0,13 -5,0 -5,0 0,-6 0,-6 -7,0 c -4,0 -7,0.4 -7,1 0,0.5 -1.8,1 -4,1 -2.2,0 -4,0.4 -4,1 0,0.5 -1.8,1 -4,1 -2.2,0 -4,0.4 -4,1 0,0.5 -1.8,1 -4,1 -2.2,0 -4,0.4 -4,1 0,0.5 -1.8,1 -4,1 -2.2,0 -4,0.4 -4,1 0,0.5 -1.8,1 -4,1 -2.2,0 -4,0.4 -4,1 0,0.5 -1.8,1 -4,1 -2.2,0 -4,0.4 -4,1 0,0.5 -1.8,1 -4,1 -2.2,0 -4,0.4 -4,1 0,0.5 -1.8,1 -4,1 -2.2,0 -4,0.4 -4,1 0,0.5 -1.8,1 -4,1 -2.2,0 -4,0.4 -4,1 0,0.5 -1.8,1 -4,1 -2.2,0 -4,0.4 -4,1 0,0.5 -1.8,1 -4,1 -2.2,0 -4,0.4 -4,1 0,0.5 -1.3,1 -3,1 l -3,0 0,15 0,15 -24,0 -24,0 0,13 0,13 3,0 3,0 0,62 0,62 98,0 98,0 0,-261 c 0,-173.3 -0.3,-261 -1,-261 -0.6,0 -1,4.7 -1,12 z m -166,395 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 44,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m -110,16 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 44,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m -88,16 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 44,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m -110,16 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 44,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m -88,16 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m -88,16 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 44,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 44,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m -88,16 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 22,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z m 66,0 0,5 -8,0 -8,0 0,-5 0,-5 8,0 8,0 z\"\n           id=\"path10\"\n           inkscape:connector-curvature=\"0\"\n           sodipodi:nodetypes=\"cccccccccccsscccccccccssccccccccccccccccccccccccccsssssssssssssssssssssssssssssscccccccssssssssssssssssssssssssscccccccccccccsssccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc\"\n           style=\"fill:#000000;stroke:none\" />\n        <path\n           d=\"m 894,215 0,39 -9,0 -9,0 0,57 0,57 23,0 23,0 0,-75 0,-75 -5,0 -5,0 0,-13 0,-13 -6,0 -6,0 0,-8 0,-8 -3,0 -3,0 z\"\n           id=\"path12\"\n           inkscape:connector-curvature=\"0\"\n           style=\"fill:#000000;stroke:none\" />\n        <path\n           d=\"m 1458,200 c 0,5.3 -0.2,6 -2,6 l -34,-10 0,70 0,70 8,0 c 7.3,0 8,-0.2 8,-2 0,-1.9 0.7,-2 15,-2 14.3,0 15,0.1 15,2 0,1.9 0.7,2 12,2 l 12,0 0,15 0,15 7,0 7,0 0,4 0,4 -7,0 -7,0 0,12 0,12 7,0 7,0 0,4 0,4 -7,0 -7,0 0,11 0,11 7,0 7,0 0,4 0,4 -7,0 -7,0 0,12 0,12 7,0 7,0 0,5 0,5 -7,0 -7,0 0,12 0,12 7,0 7,0 0,4 0,4 -7,0 -7,0 0,28 0,28 7,0 7,0 0,4 0,4 -7,0 -7,0 0,12 0,12 7,0 7,0 0,4 0,4 -7,0 -7,0 0,12 0,12 7,0 7,0 0,4 0,4 -7,0 -7,0 0,12 0,12 7,0 7,0 0,4 0,4 -7,0 -7,0 0,18 0,18 92,0 92,0 0,-101 0,-101 -71,0 -71,0 0,55.6 c 0,61.4 0.3,58.4 -6.4,58.4 l -3.6,0 0,-6 0,-6 -5,0 -5,0 0,-4 0,-4 5,0 5,0 0,-12 0,-12 -5,0 -5,0 0,-4 0,-4 5,0 5,0 0,-12 0,-12 -5,0 -5,0 0,-4 0,-4 5,0 5,0 0,-12 0,-12 -5,0 -5,0 0,-4 0,-4 10,0 10,0 0,-3 0,-3 14,0 14,0 0,-123 0,-122.99975 L 1530,228 l 0,-15.99975 0,-18 -35,0 -37,0 z m 48,74 0,4 -15,0 -15,0 0,-4 0,-4 15,0 15,0 z m 38,0 0,4 -15,0 -15,0 0,-4 0,-4 15,0 15,0 z m -76,30 0,4 -15,0 -15,0 0,-4 0,-4 15,0 15,0 z m 38,0 0,4 -15,0 -15,0 0,-4 0,-4 15,0 15,0 z m 38,0 0,4 -15,0 -15,0 0,-4 0,-4 15,0 15,0 z m 0,32 0,4 -15,0 -15,0 0,-4 0,-4 15,0 15,0 z m 0,34 0,4 -15,0 -15,0 0,-4 0,-4 15,0 15,0 z m 0,62 0,4 -15,0 -15,0 0,-4 0,-4 15,0 15,0 z m -11.4,191.4 c 0.8,0.8 1.4,2.6 1.4,4 l 0,2.6 -10,0 -10,0 0,-4 0,-4 8.6,0 c 6.1,0 9,0.4 10,1.4 z m 1.4,34.6 0,4 -10,0 -10,0 0,-4 0,-4 10,0 10,0 z\"\n           id=\"path14\"\n           inkscape:connector-curvature=\"0\"\n           sodipodi:nodetypes=\"sccccssssscccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccssccccccccccccccccccccccccccccccccccccccccccccsccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccsscccccssccccccccc\"\n           style=\"fill:#000000;stroke:none\" />\n        <path\n           d=\"m 584,224 0,6 -13,0 -13,0 0,8 0,8 -16,0 -16,0 0,39 0,39 53,0 53,0 0,-19 0,-19 -8,0 -8,0 0,-20 0,-20 -3,0 -3,0 0,15 0,15 -9,0 -9,0 0,-29 0,-29 -4,0 -4,0 z\"\n           id=\"path16\"\n           inkscape:connector-curvature=\"0\"\n           style=\"fill:#000000;stroke:none\" />\n        <path\n           d=\"m 1586,382 0,100 11,0 c 10.3,0 11,-0.1 11,-2 0,-2 0.7,-2 52,-2 l 52,0 0,4 0,4 -12,0 -12,0 0,6 0,6 12,0 12,0 0,4 0,4 -12,0 -12,0 0,6 0,6 12,0 12,0 0,4 0,4 -12,0 -12,0 0,6 0,6 12,0 12,0 0,4 0,4 -12,0 -12,0 0,6 0,6 12,0 12,0 0,4 0,4 -12,0 -12,0 0,6 0,6 12,0 12,0 0,4 0,4 -12,0 -12,0 0,6 0,6 12,0 12,0 0,4 0,4 -12,0 -12,0 0,6 0,6 12,0 12,0 0,4 0,4 -12,0 -12,0 0,6 0,6 12,0 12,0 0,4 0,4 -12,0 -12,0 0,26 0,26 57.6,0 c 48.5,0 57.8,-0.2 59,-1.4 1.2,-1.2 1.4,-13.8 1.4,-84 l 0,-82.6 -27,0 -27,0 0,-26 0,-26 -17,0 -17,0 0,-5 0,-5 -55,0 -55,0 0,-4 0,-4 55,0 55,0 0,-6 0,-6 -55,0 -55,0 0,-4 0,-4 55,0 55,0 0,-6 0,-6 -55,0 -55,0 0,-4 0,-4 55,0 55,0 0,-6 0,-6 -55,0 -55,0 0,-4 0,-4 55,0 55,0 0,-6 0,-6 -55,0 -55,0 0,-4 0,-4 55,0 55,0 0,-6 0,-6 -55,0 -55,0 0,-4 0,-4 55,0 55,0 0,-6 0,-6 -55,0 -55,0 0,-4 0,-4 55,0 55,0 0,-6 0,-6 -55,0 -55,0 0,-4 0,-4 55,0 55,0 0,-6 0,-6 -55,0 -55,0 0,-4 0,-4 55,0 55,0 0,-9 0,-9 -66,0 -66,0 z\"\n           id=\"path18\"\n           inkscape:connector-curvature=\"0\"\n           style=\"fill:#000000;stroke:none\" />\n        <path\n           d=\"m 660,356 0,10 -4,0 -4,0 0,51 0,51 16,0 16,0 0,-6 0,-6 7,0 7,0 0,-34 0,-34 -3,0 -3,0 0,-21 0,-21 -16,0 -16,0 z\"\n           id=\"path20\"\n           inkscape:connector-curvature=\"0\"\n           style=\"fill:#000000;stroke:none\" />\n      </g>\n    </g>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:sans-serif\"\n       x=\"7.1428556\"\n       y=\"585.21936\"\n       id=\"text4634\"\n       sodipodi:linespacing=\"125%\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan4636\"\n         x=\"7.1428556\"\n         y=\"585.21936\">Generating Station </tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:sans-serif\"\n       x=\"307.14285\"\n       y=\"585.21936\"\n       id=\"text4638\"\n       sodipodi:linespacing=\"125%\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan4640\"\n         x=\"307.14285\"\n         y=\"585.21936\">Turbine</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:sans-serif\"\n       x=\"472.85718\"\n       y=\"585.21936\"\n       id=\"text4642\"\n       sodipodi:linespacing=\"125%\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan4644\"\n         x=\"472.85718\"\n         y=\"585.21936\">Step up Transformer</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:sans-serif\"\n       x=\"764.28571\"\n       y=\"350.93362\"\n       id=\"text4646\"\n       sodipodi:linespacing=\"125%\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan4648\"\n         x=\"764.28571\"\n         y=\"350.93362\">Transmission line</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:sans-serif\"\n       x=\"224.28572\"\n       y=\"810.93359\"\n       id=\"text4650\"\n       sodipodi:linespacing=\"125%\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan4652\"\n         x=\"224.28572\"\n         y=\"810.93359\">Sub Station</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:sans-serif\"\n       x=\"74.285706\"\n       y=\"1030.9336\"\n       id=\"text4654\"\n       sodipodi:linespacing=\"125%\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan4656\"\n         x=\"74.285706\"\n         y=\"1030.9336\">Step Down Transformer</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:sans-serif\"\n       x=\"295.71429\"\n       y=\"959.50507\"\n       id=\"text4658\"\n       sodipodi:linespacing=\"125%\"><tspan\n         sodipodi:role=\"line\"\n         x=\"295.71429\"\n         y=\"959.50507\"\n         id=\"tspan4662\">Distribution lines</tspan></text>\n    <text\n       sodipodi:linespacing=\"125%\"\n       id=\"text4666\"\n       y=\"699.50507\"\n       x=\"702.85712\"\n       style=\"font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:sans-serif\"\n       xml:space=\"preserve\"><tspan\n         y=\"699.50507\"\n         x=\"702.85712\"\n         id=\"tspan4668\"\n         sodipodi:role=\"line\">Transmission line</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:sans-serif\"\n       x=\"588.57147\"\n       y=\"848.07648\"\n       id=\"text4670\"\n       sodipodi:linespacing=\"125%\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan4672\"\n         x=\"588.57147\"\n         y=\"848.07648\">City</tspan></text>\n  </g>\n  <script type=\"text/ecmascript\"><![CDATA[\nvar powersystemsvg = document.getElementById('powersystemsvg');\nconsole.log(powersystemsvg);\nvar rotor = powersystemsvg.getElementById('turbine_rotor');\nvar subarm1 = powersystemsvg.getElementById('SubContact1');\nvar subarm2 = powersystemsvg.getElementById('SubContact2');\nvar citylight = powersystemsvg.getElementById('citylight');\nvar transmissionline1 = powersystemsvg.getElementById('transmissionline1');\nvar transmissionline2 = powersystemsvg.getElementById('transmissionline2');\nvar distributionline1 = powersystemsvg.getElementById('distributionline1');\nvar distributionline2 = powersystemsvg.getElementById('distributionline2');\nvar isrunning = false;\nvar isclosed = true;\n(function(scope) {\n scope.$watch('msg', function(data) {\n   console.dir(data);\n   switch (scope.msg.topic) {\n     case \"turbine/control\":\n     if (scope.msg.payload==\"start\") {\n       if(isrunning == true){\n           return;\n       }else{\n           RotateTurbine();\n           isrunning = true;\n           transmissionline1.setAttributeNS(null, 'style', \"fill:#008000\");\n           transmissionline2.setAttributeNS(null, 'style', \"fill:#008000\");\n           if(isclosed){\n             distributionline1.setAttributeNS(null, 'style', \"fill:#008000\");\n             distributionline2.setAttributeNS(null, 'style', \"fill:#008000\");\n             LightOn();\n           }\n           if(!isclosed){\n             LightOff();\n             distributionline1.setAttributeNS(null, 'style', \"fill:#d40000\");\n             distributionline2.setAttributeNS(null, 'style', \"fill:#d40000\");\n           }\n       }\n     }\n     if (scope.msg.payload == \"stop\"){\n       if (isrunning == false){\n           return;\n       }else{\n         RotateTurbine();\n         isrunning = false;\n         transmissionline1.setAttributeNS(null, 'style', \"fill:#d40000\");\n         transmissionline2.setAttributeNS(null, 'style', \"fill:#d40000\");\n         distributionline1.setAttributeNS(null, 'style', \"fill:#d40000\");\n         distributionline2.setAttributeNS(null, 'style', \"fill:#d40000\");\n         LightOff();\n       }\n     }\n     break;\n     case \"substation/control\":\n     subarm1.setAttributeNS(null, 'transform', \"rotate(\" + scope.msg.payload + \" 80.5357174873352 829.8621597290039)\");\n     subarm2.setAttributeNS(null, 'transform', \"rotate(\" + scope.msg.payload + \" 172.53572511672974 829.8621597290039)\");\n     if(scope.msg.payload <= 10){\n       isclosed = true;\n       subarm1.setAttributeNS(null, 'style', \"fill:#008000\");\n       subarm2.setAttributeNS(null, 'style', \"fill:#008000\");\n       if(isrunning){\n         LightOn();\n         distributionline1.setAttributeNS(null, 'style', \"fill:#008000\");\n         distributionline2.setAttributeNS(null, 'style', \"fill:#008000\");\n       }\n       if(!isrunning){\n         LightOff();\n         distributionline1.setAttributeNS(null, 'style', \"fill:#d40000\");\n         distributionline2.setAttributeNS(null, 'style', \"fill:#d40000\");\n       }\n     }\n     if(scope.msg.payload > 10){\n       isclosed = false;\n       subarm1.setAttributeNS(null, 'style', \"fill:#d40000\");\n       subarm2.setAttributeNS(null, 'style', \"fill:#d40000\");\n       distributionline1.setAttributeNS(null, 'style', \"fill:#d40000\");\n       distributionline2.setAttributeNS(null, 'style', \"fill:#d40000\");\n       LightOff();\n     }\n     break;\n     default:\n   }\n });\n})(scope);\n\nvar animator;\nvar angle = 0;\nfunction RotateTurbine()\n{\nif (animator != null)\n{\n   // Just stop\n   clearInterval(animator);\n   animator = null;\n   return;\n}\nanimator = setInterval(\n   function ()\n   {\n       angle += 5;\n       rotor.setAttributeNS(null, 'transform', \"rotate(\" + angle + \" 342.9827575683594 507.1859893798828)\");\n   }, 5);\n}\nfunction LightOn()\n{\n  citylight.setAttributeNS(null, 'style', \"fill:#ffff00\");\n}\nfunction LightOff()\n{\n  citylight.setAttributeNS(null, 'style', \"fill:#999999\");\n}\n]]></script>\n</svg>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 410,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "188c4ef3.01f4f1",
        "type": "ui_slider",
        "z": "53a5d1fc.f162",
        "d": true,
        "g": "3bbbe713.cd2fa8",
        "name": "Slider",
        "label": "Contacts",
        "tooltip": "",
        "group": "7b948c72.b868e4",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "all",
        "topic": "substation/control",
        "topicType": "str",
        "min": "10",
        "max": "70",
        "step": "1",
        "className": "",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "6bb293f3.ab6f0c",
                "cdca5b13.989038",
                "f27c6e67abb70401"
            ]
        ]
    },
    {
        "id": "6c21e646.98ae28",
        "type": "inject",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "188c4ef3.01f4f1"
            ]
        ]
    },
    {
        "id": "6bb293f3.ab6f0c",
        "type": "function",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "name": "",
        "func": "if (msg.payload > 10){msg.payload = \"contactOpen\"}\nif (msg.payload < 30){msg.payload = \"contactClosed\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [
            [
                "ea8e2e49.382c3"
            ]
        ]
    },
    {
        "id": "ea8e2e49.382c3",
        "type": "mqtt out",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "name": "Command",
        "topic": "substation/control/contactCommand",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "15ba0606.c5006a",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "9d8c6884b7cf796f",
        "type": "function",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "",
        "func": "msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 1, \n    'address': 0, \n    'quantity': 1 } \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 140,
        "wires": [
            [
                "4d2ba483c9c388ac"
            ]
        ]
    },
    {
        "id": "4d2ba483c9c388ac",
        "type": "modbus-flex-write",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "8ea7961bc160e7fe",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1210,
        "y": 140,
        "wires": [
            [
                "bd38fa651f6b3b1a"
            ],
            []
        ]
    },
    {
        "id": "8e09e37a9f98785f",
        "type": "function",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "Command",
        "func": "if (msg.payload == \"start\"){msg.payload = 111}\nif (msg.payload == \"stop\"){msg.payload = 333}\nif (msg.payload == \"reset\"){msg.payload = 222}\nif (msg.payload == \"70\"){msg.payload = 888}\nif (msg.payload == \"10\"){msg.payload = 999}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 140,
        "wires": [
            [
                "9d8c6884b7cf796f"
            ]
        ]
    },
    {
        "id": "bd38fa651f6b3b1a",
        "type": "modbus-response",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "",
        "registerShowMax": "5",
        "x": 1210,
        "y": 200,
        "wires": []
    },
    {
        "id": "96ea9602661e77f3",
        "type": "modbus-flex-getter",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "8ea7961bc160e7fe",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1070,
        "y": 280,
        "wires": [
            [],
            [
                "b7969358659b2ad8",
                "e6344a8b990b6d73"
            ]
        ]
    },
    {
        "id": "b7969358659b2ad8",
        "type": "function",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "",
        "func": "msg.payload = msg.payload.data[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 240,
        "wires": [
            [
                "c41c549a771c3fb1"
            ]
        ]
    },
    {
        "id": "c41c549a771c3fb1",
        "type": "mqtt out",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "Command",
        "topic": "turbine/control/holdReg",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "15ba0606.c5006a",
        "x": 1250,
        "y": 320,
        "wires": []
    },
    {
        "id": "4cd02ce4c27e7bd7",
        "type": "function",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "Command",
        "func": "if (msg.payload == \"reset\"){msg.payload = 222}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 200,
        "wires": [
            [
                "e9ddfe0bd58970c2"
            ]
        ]
    },
    {
        "id": "e9ddfe0bd58970c2",
        "type": "function",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "",
        "func": "msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 1, \n    'address': 1, \n    'quantity': 1 } \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 200,
        "wires": [
            [
                "4d2ba483c9c388ac"
            ]
        ]
    },
    {
        "id": "2d0ddc51f2c4f2cc",
        "type": "inject",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "2d075db7fac65992"
            ]
        ]
    },
    {
        "id": "2d075db7fac65992",
        "type": "function",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "",
        "func": "msg.payload = { \n    value: msg.payload, \n    'fc': 3,\n    'unitid': 1, \n    'address': 1 ,\n    'quantity': 1 } \n    return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 280,
        "wires": [
            [
                "96ea9602661e77f3"
            ]
        ]
    },
    {
        "id": "2f02a34587057dfe",
        "type": "mqtt in",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "",
        "topic": "turbine/control",
        "qos": "2",
        "datatype": "auto",
        "broker": "15ba0606.c5006a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "8e09e37a9f98785f",
                "4cd02ce4c27e7bd7",
                "cdca5b13.989038"
            ]
        ]
    },
    {
        "id": "90c40d96c9092ca0",
        "type": "mqtt in",
        "z": "53a5d1fc.f162",
        "g": "1739ad50074c437b",
        "name": "",
        "topic": "substation/control",
        "qos": "2",
        "datatype": "auto",
        "broker": "15ba0606.c5006a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 640,
        "y": 200,
        "wires": [
            [
                "8e09e37a9f98785f",
                "cdca5b13.989038"
            ]
        ]
    },
    {
        "id": "f27c6e67abb70401",
        "type": "mqtt out",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "name": "Command",
        "topic": "substation/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "15ba0606.c5006a",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "b8a7d60b782d6d5c",
        "type": "ui_switch",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "name": "",
        "label": "Substation Contacts",
        "tooltip": "",
        "group": "7b948c72.b868e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "10",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "70",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "6bb293f3.ab6f0c",
                "f27c6e67abb70401",
                "f68862bebfa936e0"
            ]
        ]
    },
    {
        "id": "f68862bebfa936e0",
        "type": "delay",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "ea8e2e49.382c3",
                "f27c6e67abb70401"
            ]
        ]
    },
    {
        "id": "a49874fe7f3dd916",
        "type": "function",
        "z": "53a5d1fc.f162",
        "g": "3bbbe713.cd2fa8",
        "name": "function 2",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e6344a8b990b6d73",
        "type": "debug",
        "z": "53a5d1fc.f162",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 420,
        "wires": []
    },
    {
        "id": "2b53d61ee6060929",
        "type": "function",
        "z": "53a5d1fc.f162",
        "name": "function 3",
        "func": "msg.payload = [0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 460,
        "wires": [
            [
                "b7969358659b2ad8"
            ]
        ]
    },
    {
        "id": "be956244ae63ec5d",
        "type": "inject",
        "z": "53a5d1fc.f162",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 960,
        "y": 520,
        "wires": [
            [
                "2b53d61ee6060929"
            ]
        ]
    }
]
