raspi/ras13.json
[
    {
        "id": "fd91a0dce927fef9",
        "type": "tab",
        "label": "LightSensorValue",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6b5c7647139cf65",
        "type": "tab",
        "label": "FireAlarm",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d1ac1f646b17b46",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "cfe42024265e39df",
        "type": "mqtt-broker",
        "name": "ServerBroker",
        "broker": "172.16.17.204",
        "port": "1883",
        "clientid": "FireManagement",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "83b0229e147aa33c",
        "type": "coap-server",
        "name": "localhost",
        "port": "5683",
        "ipv6": false
    },
    {
        "id": "be1cc604693cbe9f",
        "type": "mqtt in",
        "z": "fd91a0dce927fef9",
        "name": "",
        "topic": "lightsensor/control",
        "qos": "2",
        "datatype": "auto",
        "broker": "cfe42024265e39df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "cf34883d5bc83d28"
            ]
        ]
    },
    {
        "id": "cf34883d5bc83d28",
        "type": "rpi-gpio out",
        "z": "fd91a0dce927fef9",
        "name": "",
        "pin": "16",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "130f7abe7de88f68",
        "type": "switch",
        "z": "fd91a0dce927fef9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "5ab7780bb3890249"
            ],
            [
                "af3caad516387dce"
            ]
        ]
    },
    {
        "id": "5ab7780bb3890249",
        "type": "change",
        "z": "fd91a0dce927fef9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 40,
        "wires": [
            [
                "cf34883d5bc83d28"
            ]
        ]
    },
    {
        "id": "af3caad516387dce",
        "type": "change",
        "z": "fd91a0dce927fef9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 80,
        "wires": [
            [
                "cf34883d5bc83d28"
            ]
        ]
    },
    {
        "id": "866a534b67429e75",
        "type": "inject",
        "z": "fd91a0dce927fef9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "cf34883d5bc83d28"
            ]
        ]
    },
    {
        "id": "19acfd13472240c8",
        "type": "inject",
        "z": "fd91a0dce927fef9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "cf34883d5bc83d28"
            ]
        ]
    },
    {
        "id": "7320d7b62a3f837c",
        "type": "rpi-gpio in",
        "z": "d6b5c7647139cf65",
        "name": "Fire Sensor",
        "pin": "21",
        "intype": "down",
        "debounce": "250",
        "read": true,
        "bcm": true,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "9202541c073ab22f"
            ]
        ]
    },
    {
        "id": "9202541c073ab22f",
        "type": "rpi-gpio out",
        "z": "d6b5c7647139cf65",
        "name": "Buzzer  pin",
        "pin": "20",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "7762231d699b420c",
        "type": "trigger",
        "z": "d6b5c7647139cf65",
        "name": "",
        "op1": "0",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 400,
        "wires": [
            [
                "9202541c073ab22f"
            ]
        ]
    },
    {
        "id": "23fd6636413eed28",
        "type": "coap in",
        "z": "d6b5c7647139cf65",
        "method": "POST",
        "name": "",
        "server": "83b0229e147aa33c",
        "url": "/hotelfire",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "7762231d699b420c",
                "f3d8b941cbee8ac3"
            ]
        ]
    },
    {
        "id": "e8dd876f0e9511ca",
        "type": "coap in",
        "z": "d6b5c7647139cf65",
        "method": "POST",
        "name": "",
        "server": "83b0229e147aa33c",
        "url": "/housingfire",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "7762231d699b420c"
            ]
        ]
    },
    {
        "id": "5f22f39124dc7fb6",
        "type": "coap in",
        "z": "d6b5c7647139cf65",
        "method": "POST",
        "name": "",
        "server": "83b0229e147aa33c",
        "url": "/hospitalfire",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "7762231d699b420c"
            ]
        ]
    },
    {
        "id": "28ebea9f9c730478",
        "type": "coap in",
        "z": "d6b5c7647139cf65",
        "method": "POST",
        "name": "",
        "server": "83b0229e147aa33c",
        "url": "/industryfire",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "7762231d699b420c"
            ]
        ]
    },
    {
        "id": "fbb2a5ba849db750",
        "type": "coap in",
        "z": "d6b5c7647139cf65",
        "method": "POST",
        "name": "",
        "server": "83b0229e147aa33c",
        "url": "/hvacfire",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "7762231d699b420c"
            ]
        ]
    },
    {
        "id": "f3d8b941cbee8ac3",
        "type": "debug",
        "z": "d6b5c7647139cf65",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 460,
        "wires": []
    },
    {
        "id": "2cf282dc744278b4",
        "type": "rpi-gpio in",
        "z": "4d1ac1f646b17b46",
        "name": "Fire Sensor",
        "pin": "21",
        "intype": "down",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "cdb3fb6418f1e3b9"
            ]
        ]
    },
    {
        "id": "cdb3fb6418f1e3b9",
        "type": "rpi-gpio out",
        "z": "4d1ac1f646b17b46",
        "name": "Buzzer  pin",
        "pin": "20",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "20e4e098cb2271c5",
        "type": "mqtt in",
        "z": "4d1ac1f646b17b46",
        "name": "",
        "topic": "housing/fire/sos",
        "qos": "2",
        "datatype": "auto",
        "broker": "cfe42024265e39df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "b80b56556bcb5d92"
            ]
        ]
    },
    {
        "id": "398f0b8df19c07db",
        "type": "mqtt in",
        "z": "4d1ac1f646b17b46",
        "name": "",
        "topic": "hotel/fire/sos",
        "qos": "2",
        "datatype": "auto",
        "broker": "cfe42024265e39df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "b80b56556bcb5d92"
            ]
        ]
    },
    {
        "id": "c5f205e7adcb2038",
        "type": "mqtt in",
        "z": "4d1ac1f646b17b46",
        "name": "",
        "topic": "hospital/fire/sos",
        "qos": "2",
        "datatype": "auto",
        "broker": "cfe42024265e39df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "b80b56556bcb5d92"
            ]
        ]
    },
    {
        "id": "9b4784641149ba48",
        "type": "mqtt in",
        "z": "4d1ac1f646b17b46",
        "name": "",
        "topic": "industry/fire/sos",
        "qos": "2",
        "datatype": "auto",
        "broker": "cfe42024265e39df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "b80b56556bcb5d92"
            ]
        ]
    },
    {
        "id": "8af987174dc3422b",
        "type": "mqtt in",
        "z": "4d1ac1f646b17b46",
        "name": "",
        "topic": "hvac/fire/sos",
        "qos": "2",
        "datatype": "auto",
        "broker": "cfe42024265e39df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "b80b56556bcb5d92"
            ]
        ]
    },
    {
        "id": "b80b56556bcb5d92",
        "type": "trigger",
        "z": "4d1ac1f646b17b46",
        "name": "",
        "op1": "0",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "cdb3fb6418f1e3b9"
            ]
        ]
    }
]
