raspi/ras7.json
[
    {
        "id": "219f5dab.3c57f2",
        "type": "tab",
        "label": "Stock Exchange",
        "disabled": false,
        "info": ""
    },
    {
        "id": "de9d46eee8dc2b48",
        "type": "tab",
        "label": "alexa",
        "disabled": false,
        "info": ""
    },
    {
        "id": "297cc78172a05c19",
        "type": "group",
        "z": "219f5dab.3c57f2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "df0a20d4.73369",
            "bf40ca97.7f5488",
            "af063b9e.eabd68",
            "b7b21550.322678",
            "f3a2e83e74677668"
        ],
        "x": 54,
        "y": 59,
        "w": 692,
        "h": 149.5
    },
    {
        "id": "4b1e379317edd907",
        "type": "mqtt-broker",
        "name": "SewageVM",
        "broker": "172.16.17.211",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7e32b250ee8c6f4d",
        "type": "mqtt-broker",
        "name": "PowerVM",
        "broker": "172.16.17.213",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "01b227b87a71a363",
        "type": "mqtt-broker",
        "name": "HVAC VM",
        "broker": "172.16.17.210",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "344da705f3dd39fc",
        "type": "mqtt-broker",
        "name": "Unified VM",
        "broker": "172.16.17.204",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e2f3a79dbdb7c479",
        "type": "mqtt-broker",
        "name": "Toll Plaza VM",
        "broker": "172.16.17.203",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6173706ddd774978",
        "type": "mqtt-broker",
        "name": "Factory VM",
        "broker": "172.16.17.207",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0ce4c195081c435f",
        "type": "mqtt-broker",
        "name": "Airport VM",
        "broker": "172.16.20.101",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "df0a20d4.73369",
        "type": "inject",
        "z": "219f5dab.3c57f2",
        "g": "297cc78172a05c19",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "bf40ca97.7f5488"
            ]
        ]
    },
    {
        "id": "bf40ca97.7f5488",
        "type": "exec",
        "z": "219f5dab.3c57f2",
        "g": "297cc78172a05c19",
        "command": "python3 Documents/stockexchange.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "f3a2e83e74677668"
            ],
            [
                "f3a2e83e74677668"
            ],
            [
                "af063b9e.eabd68",
                "f3a2e83e74677668"
            ]
        ]
    },
    {
        "id": "af063b9e.eabd68",
        "type": "switch",
        "z": "219f5dab.3c57f2",
        "g": "297cc78172a05c19",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b7b21550.322678",
        "type": "delay",
        "z": "219f5dab.3c57f2",
        "g": "297cc78172a05c19",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 400,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "73919ba68e467852",
        "type": "inject",
        "z": "219f5dab.3c57f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "e2f063a9009601fd"
            ]
        ]
    },
    {
        "id": "e2f063a9009601fd",
        "type": "exec",
        "z": "219f5dab.3c57f2",
        "command": "bash /home/alpha/Documents/check_file.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f3a2e83e74677668",
        "type": "debug",
        "z": "219f5dab.3c57f2",
        "g": "297cc78172a05c19",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "1174d4d06b15b169",
        "type": "amazon-echo-hub",
        "z": "de9d46eee8dc2b48",
        "port": "8980",
        "processinput": 0,
        "discovery": true,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "4daedf3b63e55c67",
                "f56d45ad23e19540",
                "9273fb06a3927add"
            ]
        ]
    },
    {
        "id": "4daedf3b63e55c67",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Filter",
        "topic": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "e0d60329f7ef14c2",
                "9273fb06a3927add"
            ]
        ]
    },
    {
        "id": "e4482cc59b2bccbb",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Turbine",
        "topic": "",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "416c3872f7d10581",
                "9273fb06a3927add"
            ]
        ]
    },
    {
        "id": "ec2ae65cfc10566d",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Pump",
        "topic": "",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "6058d2de05472c18",
                "9273fb06a3927add"
            ]
        ]
    },
    {
        "id": "4e68132b9d5759d6",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Coolant",
        "topic": "",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "19a2c5787d684a5e"
            ]
        ]
    },
    {
        "id": "5cdc8b239776a128",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Vent",
        "topic": "",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "ac53a5609744d0d0"
            ]
        ]
    },
    {
        "id": "416db5a91c9ee3a7",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Lights",
        "topic": "",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "db6ec684bca6ab78"
            ]
        ]
    },
    {
        "id": "109f1427125d15dd",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "tollgate 1",
        "topic": "",
        "x": 300,
        "y": 640,
        "wires": [
            [
                "946a4d23aea5757b"
            ]
        ]
    },
    {
        "id": "26d97ae0826bb52f",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "tollgate 2",
        "topic": "",
        "x": 300,
        "y": 720,
        "wires": [
            [
                "56d09274db06ad68"
            ]
        ]
    },
    {
        "id": "4b854bf3a2ac61a6",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "waterTreatment/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4b1e379317edd907",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "e0d60329f7ef14c2",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "674375166163f772"
            ],
            [
                "5bc488484705e294"
            ]
        ]
    },
    {
        "id": "5bc488484705e294",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"stop_filter\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 100,
        "wires": [
            [
                "4b854bf3a2ac61a6"
            ]
        ]
    },
    {
        "id": "674375166163f772",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"run_filter\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 60,
        "wires": [
            [
                "4b854bf3a2ac61a6"
            ]
        ]
    },
    {
        "id": "655f547b2d6484b8",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "waterTreatment/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4b1e379317edd907",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "6058d2de05472c18",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "cac7c8f0c22102dc"
            ],
            [
                "d183650b6a7176a1"
            ]
        ]
    },
    {
        "id": "d183650b6a7176a1",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"stop_pump\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            [
                "655f547b2d6484b8"
            ]
        ]
    },
    {
        "id": "cac7c8f0c22102dc",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"run_pump\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [
            [
                "655f547b2d6484b8"
            ]
        ]
    },
    {
        "id": "07dc4eed26aa806f",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "turbine/control",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7e32b250ee8c6f4d",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "416c3872f7d10581",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "742b5fb7529c9b3f"
            ],
            [
                "f568a667bcbbb43e"
            ]
        ]
    },
    {
        "id": "f568a667bcbbb43e",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"stop\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "07dc4eed26aa806f",
                "9273fb06a3927add"
            ]
        ]
    },
    {
        "id": "742b5fb7529c9b3f",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"start\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 220,
        "wires": [
            [
                "07dc4eed26aa806f",
                "9273fb06a3927add"
            ]
        ]
    },
    {
        "id": "68ba8a04d1add830",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "hvac/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "01b227b87a71a363",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "19a2c5787d684a5e",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "445955e08ac124ff"
            ],
            [
                "91bcd5644922eabd"
            ]
        ]
    },
    {
        "id": "91bcd5644922eabd",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"coolant_off\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 420,
        "wires": [
            [
                "68ba8a04d1add830"
            ]
        ]
    },
    {
        "id": "445955e08ac124ff",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"coolant_on\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 380,
        "wires": [
            [
                "68ba8a04d1add830"
            ]
        ]
    },
    {
        "id": "f06a9f2c551c35bf",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "hvac/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "01b227b87a71a363",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "ac53a5609744d0d0",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "4d9aa302111de21a"
            ],
            [
                "fabbb947e7f06bda"
            ]
        ]
    },
    {
        "id": "fabbb947e7f06bda",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"vent_off\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 500,
        "wires": [
            [
                "f06a9f2c551c35bf"
            ]
        ]
    },
    {
        "id": "4d9aa302111de21a",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"vent_on\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 460,
        "wires": [
            [
                "f06a9f2c551c35bf"
            ]
        ]
    },
    {
        "id": "e482366310f3aecd",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "lights/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344da705f3dd39fc",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "db6ec684bca6ab78",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 560,
        "wires": [
            [
                "36820e30d6a71b01"
            ],
            [
                "3578e0a2ea840795"
            ]
        ]
    },
    {
        "id": "3578e0a2ea840795",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"off\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 580,
        "wires": [
            [
                "e482366310f3aecd"
            ]
        ]
    },
    {
        "id": "36820e30d6a71b01",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"on\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 540,
        "wires": [
            [
                "e482366310f3aecd"
            ]
        ]
    },
    {
        "id": "064dfa45d84ae207",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "tollGate1/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e2f3a79dbdb7c479",
        "x": 800,
        "y": 640,
        "wires": []
    },
    {
        "id": "946a4d23aea5757b",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 640,
        "wires": [
            [
                "63bcfb68f9ed78fd"
            ],
            [
                "73a8933488515771"
            ]
        ]
    },
    {
        "id": "73a8933488515771",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 660,
        "wires": [
            [
                "064dfa45d84ae207"
            ]
        ]
    },
    {
        "id": "63bcfb68f9ed78fd",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 620,
        "wires": [
            [
                "064dfa45d84ae207"
            ]
        ]
    },
    {
        "id": "d44b22bac11afe9c",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "tollGate2/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e2f3a79dbdb7c479",
        "x": 800,
        "y": 720,
        "wires": []
    },
    {
        "id": "56d09274db06ad68",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 720,
        "wires": [
            [
                "49029b6f9acfbd7e"
            ],
            [
                "a5de51cf78bb94a6"
            ]
        ]
    },
    {
        "id": "a5de51cf78bb94a6",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 740,
        "wires": [
            [
                "d44b22bac11afe9c"
            ]
        ]
    },
    {
        "id": "49029b6f9acfbd7e",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 700,
        "wires": [
            [
                "d44b22bac11afe9c"
            ]
        ]
    },
    {
        "id": "bef8596101c23a33",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Sub Station",
        "topic": "",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "9a5c0fb6d937f846"
            ]
        ]
    },
    {
        "id": "4029988c990e754c",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "substation/control",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7e32b250ee8c6f4d",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "9a5c0fb6d937f846",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "6feb129940627cc2"
            ],
            [
                "83024c02fdf6cfdf"
            ]
        ]
    },
    {
        "id": "83024c02fdf6cfdf",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"70\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 340,
        "wires": [
            [
                "4029988c990e754c"
            ]
        ]
    },
    {
        "id": "6feb129940627cc2",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"10\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 300,
        "wires": [
            [
                "4029988c990e754c"
            ]
        ]
    },
    {
        "id": "f56d45ad23e19540",
        "type": "link out",
        "z": "de9d46eee8dc2b48",
        "name": "alexa",
        "mode": "link",
        "links": [
            "92bf3d255db556d2",
            "3b0f3ff66931b2d2",
            "4dfdb61c5dcf683b",
            "c40c778c401fa7fa",
            "944ec6cb8c84fef7",
            "ada6ba0ba1bd63de",
            "09da1a1be1168905",
            "647e1b3717539ac6",
            "398d5f38555a98f5",
            "d56a2720270a0907",
            "c4534a0e10de14aa",
            "4392465837522ef3",
            "14dc0e38ea0b6b11",
            "66476fce3a299281"
        ],
        "x": 205,
        "y": 120,
        "wires": []
    },
    {
        "id": "92bf3d255db556d2",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 160,
        "wires": [
            [
                "ec2ae65cfc10566d"
            ]
        ]
    },
    {
        "id": "3b0f3ff66931b2d2",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 240,
        "wires": [
            [
                "e4482cc59b2bccbb"
            ]
        ]
    },
    {
        "id": "4dfdb61c5dcf683b",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 320,
        "wires": [
            [
                "bef8596101c23a33"
            ]
        ]
    },
    {
        "id": "c40c778c401fa7fa",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 400,
        "wires": [
            [
                "4e68132b9d5759d6"
            ]
        ]
    },
    {
        "id": "944ec6cb8c84fef7",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 480,
        "wires": [
            [
                "5cdc8b239776a128"
            ]
        ]
    },
    {
        "id": "ada6ba0ba1bd63de",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 560,
        "wires": [
            [
                "416db5a91c9ee3a7"
            ]
        ]
    },
    {
        "id": "09da1a1be1168905",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 640,
        "wires": [
            [
                "109f1427125d15dd"
            ]
        ]
    },
    {
        "id": "647e1b3717539ac6",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 720,
        "wires": [
            [
                "26d97ae0826bb52f"
            ]
        ]
    },
    {
        "id": "70c1fea771973c62",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Alarm",
        "topic": "",
        "x": 290,
        "y": 800,
        "wires": [
            [
                "3a343261f2e56f6b"
            ]
        ]
    },
    {
        "id": "295a0b604ea22f2e",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "alarm/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6173706ddd774978",
        "x": 790,
        "y": 800,
        "wires": []
    },
    {
        "id": "3a343261f2e56f6b",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 800,
        "wires": [
            [
                "466b58a64329483e"
            ],
            [
                "ec373dc5d58ff7a9"
            ]
        ]
    },
    {
        "id": "ec373dc5d58ff7a9",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"33\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 820,
        "wires": [
            [
                "295a0b604ea22f2e"
            ]
        ]
    },
    {
        "id": "466b58a64329483e",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"11\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 780,
        "wires": [
            [
                "295a0b604ea22f2e"
            ]
        ]
    },
    {
        "id": "398d5f38555a98f5",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 800,
        "wires": [
            [
                "70c1fea771973c62"
            ]
        ]
    },
    {
        "id": "4771c53542b51f45",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Entry gate",
        "topic": "",
        "x": 310,
        "y": 880,
        "wires": [
            [
                "e9b4325bf9d35ca5"
            ]
        ]
    },
    {
        "id": "f42425091737cd88",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "entrydoor/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ce4c195081c435f",
        "x": 800,
        "y": 880,
        "wires": []
    },
    {
        "id": "e9b4325bf9d35ca5",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 880,
        "wires": [
            [
                "55e7e244fa11d906"
            ],
            [
                "107e8afdc4072aa6"
            ]
        ]
    },
    {
        "id": "107e8afdc4072aa6",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"close_door\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 900,
        "wires": [
            [
                "f42425091737cd88"
            ]
        ]
    },
    {
        "id": "55e7e244fa11d906",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"open_door\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 860,
        "wires": [
            [
                "f42425091737cd88"
            ]
        ]
    },
    {
        "id": "d56a2720270a0907",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 880,
        "wires": [
            [
                "4771c53542b51f45"
            ]
        ]
    },
    {
        "id": "bfef56065e872168",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Exit gate",
        "topic": "",
        "x": 300,
        "y": 960,
        "wires": [
            [
                "545ff8f8e65ee8a7"
            ]
        ]
    },
    {
        "id": "65615d8b0439708b",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "exitdoor/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ce4c195081c435f",
        "x": 800,
        "y": 960,
        "wires": []
    },
    {
        "id": "545ff8f8e65ee8a7",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 960,
        "wires": [
            [
                "2a53fa02e6f6eb10"
            ],
            [
                "8b131c78506ebe90"
            ]
        ]
    },
    {
        "id": "8b131c78506ebe90",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"close_door\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 980,
        "wires": [
            [
                "65615d8b0439708b"
            ]
        ]
    },
    {
        "id": "2a53fa02e6f6eb10",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"open_door\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 940,
        "wires": [
            [
                "65615d8b0439708b"
            ]
        ]
    },
    {
        "id": "c4534a0e10de14aa",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 960,
        "wires": [
            [
                "bfef56065e872168"
            ]
        ]
    },
    {
        "id": "6bf58e9d53e65ec1",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Departure gate",
        "topic": "",
        "x": 320,
        "y": 1040,
        "wires": [
            [
                "9e3a36deb2d13119"
            ]
        ]
    },
    {
        "id": "13875bed834842aa",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "departuredoor/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ce4c195081c435f",
        "x": 820,
        "y": 1040,
        "wires": []
    },
    {
        "id": "9e3a36deb2d13119",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1040,
        "wires": [
            [
                "f67be221fe0787db"
            ],
            [
                "17abca5764222a05"
            ]
        ]
    },
    {
        "id": "17abca5764222a05",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"close_door\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1060,
        "wires": [
            [
                "13875bed834842aa"
            ]
        ]
    },
    {
        "id": "f67be221fe0787db",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"open_door\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1020,
        "wires": [
            [
                "13875bed834842aa"
            ]
        ]
    },
    {
        "id": "4392465837522ef3",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 1040,
        "wires": [
            [
                "6bf58e9d53e65ec1"
            ]
        ]
    },
    {
        "id": "76fd09bd8aa81126",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "Arival gate",
        "topic": "",
        "x": 310,
        "y": 1120,
        "wires": [
            [
                "c0740026feb1ff1a"
            ]
        ]
    },
    {
        "id": "ed3a07ebf5b71c7f",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "arivalgate/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ce4c195081c435f",
        "x": 810,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c0740026feb1ff1a",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1120,
        "wires": [
            [
                "8a697731d36796f4"
            ],
            [
                "1aeb5165c8270931"
            ]
        ]
    },
    {
        "id": "1aeb5165c8270931",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"close_door\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1140,
        "wires": [
            [
                "ed3a07ebf5b71c7f"
            ]
        ]
    },
    {
        "id": "8a697731d36796f4",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"open_door\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1100,
        "wires": [
            [
                "ed3a07ebf5b71c7f"
            ]
        ]
    },
    {
        "id": "14dc0e38ea0b6b11",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 1120,
        "wires": [
            [
                "76fd09bd8aa81126"
            ]
        ]
    },
    {
        "id": "c2b173a6b21d63e3",
        "type": "amazon-echo-device",
        "z": "de9d46eee8dc2b48",
        "name": "ATC Tower",
        "topic": "",
        "x": 310,
        "y": 1200,
        "wires": [
            [
                "eb5eba19970eb38c"
            ]
        ]
    },
    {
        "id": "b4d6b97bdb23f95c",
        "type": "mqtt out",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "topic": "atctower/control/alexa",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ce4c195081c435f",
        "x": 800,
        "y": 1200,
        "wires": []
    },
    {
        "id": "eb5eba19970eb38c",
        "type": "switch",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1200,
        "wires": [
            [
                "e84ce390a7481c1b"
            ],
            [
                "136db1ac53f05853"
            ]
        ]
    },
    {
        "id": "136db1ac53f05853",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"stop_tower\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1220,
        "wires": [
            [
                "b4d6b97bdb23f95c"
            ]
        ]
    },
    {
        "id": "e84ce390a7481c1b",
        "type": "function",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "func": "msg.payload = \"run_tower\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1180,
        "wires": [
            [
                "b4d6b97bdb23f95c"
            ]
        ]
    },
    {
        "id": "66476fce3a299281",
        "type": "link in",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "links": [
            "f56d45ad23e19540"
        ],
        "x": 205,
        "y": 1200,
        "wires": [
            [
                "c2b173a6b21d63e3"
            ]
        ]
    },
    {
        "id": "9273fb06a3927add",
        "type": "debug",
        "z": "de9d46eee8dc2b48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 260,
        "wires": []
    }
]
