raspi/ras9.json
[
    {
        "id": "185cdb14.2562e5",
        "type": "tab",
        "label": "Arival Display",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4bb143c.006088",
        "type": "tab",
        "label": "SmartParking Gate",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4cec11da682c4b2",
        "type": "tab",
        "label": "Fire Sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb8916e614d73f2e",
        "type": "tab",
        "label": "Fire Sensor",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b10ad014.87166",
        "type": "group",
        "z": "185cdb14.2562e5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "43c23373.3fce8c",
            "6985c81d.e2d7e8",
            "92812969.fbd398",
            "4ef8d3bf.d9181c",
            "30aae753.083d28",
            "d43a0626.2351d8",
            "79615514.5eaccc",
            "903351a4.9ea6f",
            "c23ad9ab.6189e8"
        ],
        "x": 114,
        "y": 59,
        "w": 962,
        "h": 202
    },
    {
        "id": "4ebf7e8052018e92",
        "type": "mqtt-broker",
        "name": "SmartParkingVM",
        "broker": "172.16.17.214",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e90c3931.ca9e58",
        "type": "oled-config",
        "name": "",
        "width": "128",
        "height": "32",
        "address": "3c"
    },
    {
        "id": "10b656cdea98baf7",
        "type": "xbee-config",
        "apiMode": "1",
        "rawFrames": false,
        "convertAdc": true,
        "vrefAdc": "1200",
        "serialPort": "/dev/ttyAMA0",
        "lock": true,
        "baudRate": "9600",
        "dataBits": "8",
        "stopBits": "1",
        "parity": "none",
        "bufferSize": "65536",
        "rtscts": false,
        "xon": false,
        "xoff": false,
        "xany": false,
        "vmin": "1",
        "vtime": "0"
    },
    {
        "id": "37f205f6483e6117",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "20",
        "bin": "false",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bc7eeacb0718f40f",
        "type": "mqtt-broker",
        "name": "Server",
        "broker": "172.16.17.204",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "43c23373.3fce8c",
        "type": "exec",
        "z": "185cdb14.2562e5",
        "g": "b10ad014.87166",
        "command": "DISPLAY=:0 /usr/bin/chromium-browser --force-device-scale-factor=1.318 --kiosk  http://172.16.17.101:1880/arivalinfo/",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 160,
        "wires": [
            [],
            [],
            [
                "92812969.fbd398"
            ]
        ]
    },
    {
        "id": "6985c81d.e2d7e8",
        "type": "inject",
        "z": "185cdb14.2562e5",
        "g": "b10ad014.87166",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "30aae753.083d28"
            ]
        ]
    },
    {
        "id": "92812969.fbd398",
        "type": "switch",
        "z": "185cdb14.2562e5",
        "g": "b10ad014.87166",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 220,
        "wires": [
            [
                "903351a4.9ea6f"
            ]
        ]
    },
    {
        "id": "4ef8d3bf.d9181c",
        "type": "delay",
        "z": "185cdb14.2562e5",
        "g": "b10ad014.87166",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 680,
        "y": 100,
        "wires": [
            [
                "79615514.5eaccc"
            ]
        ]
    },
    {
        "id": "30aae753.083d28",
        "type": "link out",
        "z": "185cdb14.2562e5",
        "g": "b10ad014.87166",
        "name": "",
        "links": [
            "d43a0626.2351d8"
        ],
        "x": 435,
        "y": 100,
        "wires": []
    },
    {
        "id": "d43a0626.2351d8",
        "type": "link in",
        "z": "185cdb14.2562e5",
        "g": "b10ad014.87166",
        "name": "kiosk start cmd",
        "links": [
            "30aae753.083d28",
            "79615514.5eaccc"
        ],
        "x": 155,
        "y": 160,
        "wires": [
            [
                "43c23373.3fce8c"
            ]
        ]
    },
    {
        "id": "79615514.5eaccc",
        "type": "link out",
        "z": "185cdb14.2562e5",
        "g": "b10ad014.87166",
        "name": "",
        "links": [
            "d43a0626.2351d8"
        ],
        "x": 775,
        "y": 100,
        "wires": []
    },
    {
        "id": "903351a4.9ea6f",
        "type": "link out",
        "z": "185cdb14.2562e5",
        "g": "b10ad014.87166",
        "name": "try after 5 sec",
        "links": [
            "c23ad9ab.6189e8"
        ],
        "x": 1035,
        "y": 220,
        "wires": []
    },
    {
        "id": "c23ad9ab.6189e8",
        "type": "link in",
        "z": "185cdb14.2562e5",
        "g": "b10ad014.87166",
        "name": "",
        "links": [
            "903351a4.9ea6f"
        ],
        "x": 575,
        "y": 100,
        "wires": [
            [
                "4ef8d3bf.d9181c"
            ]
        ]
    },
    {
        "id": "74513f70.655b3",
        "type": "rpi-gpio in",
        "z": "b4bb143c.006088",
        "name": "Detection IR",
        "pin": "16",
        "intype": "up",
        "debounce": "300",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "824e6394.6aa2"
            ]
        ]
    },
    {
        "id": "1298db0d.31f065",
        "type": "rpi-gpio out",
        "z": "b4bb143c.006088",
        "name": "red",
        "pin": "19",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "8e79bf82.31299",
        "type": "rpi-gpio out",
        "z": "b4bb143c.006088",
        "name": "green",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 810,
        "y": 780,
        "wires": []
    },
    {
        "id": "59f45062.5dbda",
        "type": "pi-gpiod out",
        "z": "b4bb143c.006088",
        "name": "gate",
        "host": "localhost",
        "port": 8888,
        "pin": "13",
        "set": "",
        "level": "0",
        "out": "ser",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 810,
        "y": 820,
        "wires": []
    },
    {
        "id": "78c1b956.0ec338",
        "type": "switch",
        "z": "b4bb143c.006088",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "allow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 390,
        "y": 760,
        "wires": [
            [
                "b920a651.48dd28",
                "36ccfdf5.7c7852",
                "548613d4.d33eec"
            ],
            [
                "f7d7baf2.d75328",
                "2a5da433.26abcc",
                "34c5d629.76ecaa"
            ],
            [
                "3582c864.eb8798",
                "5d4df7ed.d27498",
                "9e588b27.6252b8"
            ]
        ]
    },
    {
        "id": "b920a651.48dd28",
        "type": "trigger",
        "z": "b4bb143c.006088",
        "name": "",
        "op1": "0",
        "op2": "100",
        "op1type": "str",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 580,
        "y": 700,
        "wires": [
            [
                "59f45062.5dbda"
            ]
        ]
    },
    {
        "id": "824e6394.6aa2",
        "type": "switch",
        "z": "b4bb143c.006088",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 540,
        "wires": [
            [
                "c69c6c55.8cd53"
            ]
        ]
    },
    {
        "id": "36ccfdf5.7c7852",
        "type": "trigger",
        "z": "b4bb143c.006088",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 580,
        "y": 660,
        "wires": [
            [
                "8e79bf82.31299"
            ]
        ]
    },
    {
        "id": "548613d4.d33eec",
        "type": "trigger",
        "z": "b4bb143c.006088",
        "name": "",
        "op1": "0",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 580,
        "y": 620,
        "wires": [
            [
                "1298db0d.31f065"
            ]
        ]
    },
    {
        "id": "6dfed971.798b78",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "slot1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 80,
        "wires": [
            [
                "24b8e9d3.b37386"
            ]
        ]
    },
    {
        "id": "7407a474.c9414c",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "slot2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "24b8e9d3.b37386"
            ]
        ]
    },
    {
        "id": "7dae2ddd.31b264",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "slot3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 240,
        "wires": [
            [
                "24b8e9d3.b37386"
            ]
        ]
    },
    {
        "id": "1a694428.67293c",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "slot4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 320,
        "wires": [
            [
                "24b8e9d3.b37386"
            ]
        ]
    },
    {
        "id": "14fc60c1.7228ff",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "slot5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "24b8e9d3.b37386"
            ]
        ]
    },
    {
        "id": "c69c6c55.8cd53",
        "type": "function",
        "z": "b4bb143c.006088",
        "name": "",
        "func": "var availableslots = 0;\nvar occupied = 0;\nemptyslots=[];\noccupiedslots=[];\nvar slots = global.get(\"slots\");\nfor (var i = 0; i < slots.length; i++) { \n    if(slots[i]==1){\n        availableslots++;\n        emptyslots.push(i+1);\n    } else{\n        occupiedslots.push(i+1);\n        occupied++;\n    }\n}\nmsg.availableslots=availableslots;\nmsg.emptyslots=emptyslots;\nmsg.occupiedslots=occupiedslots;\nmsg.occupied = occupied;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 540,
        "wires": [
            [
                "8de97b8f.cf6618",
                "838a7de4.c5a77",
                "d9c04aeb.5fc258",
                "d93114de.ecd5d8",
                "d91c4d5e.5e2fb"
            ]
        ]
    },
    {
        "id": "24b8e9d3.b37386",
        "type": "function",
        "z": "b4bb143c.006088",
        "name": "",
        "func": "var slots = [global.get(\"slot1\"), global.get(\"slot2\"), global.get(\"slot3\"), global.get(\"slot4\"), global.get(\"slot5\")];\nmsg.payload= slots;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 240,
        "wires": [
            [
                "e1224ce9.f1d3"
            ]
        ]
    },
    {
        "id": "e1224ce9.f1d3",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "Set Global",
        "rules": [
            {
                "t": "set",
                "p": "slots",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 400,
        "wires": [
            [
                "bd38a836dd6020af"
            ]
        ]
    },
    {
        "id": "8de97b8f.cf6618",
        "type": "debug",
        "z": "b4bb143c.006088",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 580,
        "wires": []
    },
    {
        "id": "838a7de4.c5a77",
        "type": "switch",
        "z": "b4bb143c.006088",
        "name": "",
        "property": "availableslots",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 130,
        "y": 660,
        "wires": [
            [
                "7b8f9956.10bdc8"
            ]
        ]
    },
    {
        "id": "7b8f9956.10bdc8",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "allow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 660,
        "wires": [
            [
                "2cf6aa21.b45ab6"
            ]
        ]
    },
    {
        "id": "db4028c0.12bcb8",
        "type": "mqtt out",
        "z": "b4bb143c.006088",
        "name": "",
        "topic": "smartparking/availibility",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4ebf7e8052018e92",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "d93114de.ecd5d8",
        "type": "function",
        "z": "b4bb143c.006088",
        "name": "empty",
        "func": "msg.payload=msg.emptyslots;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 500,
        "wires": [
            [
                "f402d8a1.2b2948"
            ]
        ]
    },
    {
        "id": "d91c4d5e.5e2fb",
        "type": "function",
        "z": "b4bb143c.006088",
        "name": "occupied",
        "func": "msg.payload=msg.occupied;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 540,
        "wires": [
            [
                "a0076a81.9fa518"
            ]
        ]
    },
    {
        "id": "d9c04aeb.5fc258",
        "type": "function",
        "z": "b4bb143c.006088",
        "name": "available",
        "func": "msg.payload=msg.availableslots;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 460,
        "wires": [
            [
                "db4028c0.12bcb8",
                "cdbe49a9e95411de"
            ]
        ]
    },
    {
        "id": "f402d8a1.2b2948",
        "type": "mqtt out",
        "z": "b4bb143c.006088",
        "name": "",
        "topic": "smartparking/emptyslots",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4ebf7e8052018e92",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "a0076a81.9fa518",
        "type": "mqtt out",
        "z": "b4bb143c.006088",
        "name": "",
        "topic": "smartparking/occupied",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4ebf7e8052018e92",
        "x": 820,
        "y": 540,
        "wires": []
    },
    {
        "id": "2cf6aa21.b45ab6",
        "type": "delay",
        "z": "b4bb143c.006088",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "78c1b956.0ec338"
            ]
        ]
    },
    {
        "id": "295f3cb5.2302d4",
        "type": "inject",
        "z": "b4bb143c.006088",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "c69c6c55.8cd53"
            ]
        ]
    },
    {
        "id": "1684dfca.7f434",
        "type": "mqtt in",
        "z": "b4bb143c.006088",
        "name": "",
        "topic": "smartparking/control/gate",
        "qos": "2",
        "datatype": "auto",
        "broker": "4ebf7e8052018e92",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 760,
        "wires": [
            [
                "78c1b956.0ec338"
            ]
        ]
    },
    {
        "id": "2a5da433.26abcc",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 820,
        "wires": [
            [
                "59f45062.5dbda"
            ]
        ]
    },
    {
        "id": "f7d7baf2.d75328",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 740,
        "wires": [
            [
                "1298db0d.31f065"
            ]
        ]
    },
    {
        "id": "34c5d629.76ecaa",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 780,
        "wires": [
            [
                "8e79bf82.31299"
            ]
        ]
    },
    {
        "id": "9e588b27.6252b8",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 940,
        "wires": [
            [
                "59f45062.5dbda"
            ]
        ]
    },
    {
        "id": "3582c864.eb8798",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 860,
        "wires": [
            [
                "1298db0d.31f065"
            ]
        ]
    },
    {
        "id": "5d4df7ed.d27498",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 900,
        "wires": [
            [
                "8e79bf82.31299"
            ]
        ]
    },
    {
        "id": "02ed2803efbc69f2",
        "type": "mqtt in",
        "z": "b4bb143c.006088",
        "d": true,
        "name": "",
        "topic": "smartparking/slot1",
        "qos": "2",
        "datatype": "auto",
        "broker": "4ebf7e8052018e92",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "6dfed971.798b78"
            ]
        ]
    },
    {
        "id": "49be315b716b8a4d",
        "type": "mqtt in",
        "z": "b4bb143c.006088",
        "d": true,
        "name": "",
        "topic": "smartparking/slot2",
        "qos": "2",
        "datatype": "auto",
        "broker": "4ebf7e8052018e92",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "7407a474.c9414c"
            ]
        ]
    },
    {
        "id": "87f33e6f946d42f2",
        "type": "mqtt in",
        "z": "b4bb143c.006088",
        "d": true,
        "name": "",
        "topic": "smartparking/slot3",
        "qos": "2",
        "datatype": "auto",
        "broker": "4ebf7e8052018e92",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "7dae2ddd.31b264"
            ]
        ]
    },
    {
        "id": "41bfe1ea853f62ca",
        "type": "mqtt in",
        "z": "b4bb143c.006088",
        "d": true,
        "name": "",
        "topic": "smartparking/slot4",
        "qos": "2",
        "datatype": "auto",
        "broker": "4ebf7e8052018e92",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "1a694428.67293c"
            ]
        ]
    },
    {
        "id": "b074a31ae5bca254",
        "type": "mqtt in",
        "z": "b4bb143c.006088",
        "d": true,
        "name": "",
        "topic": "smartparking/slot5",
        "qos": "2",
        "datatype": "auto",
        "broker": "4ebf7e8052018e92",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "14fc60c1.7228ff"
            ]
        ]
    },
    {
        "id": "3489d4d0e4e71eab",
        "type": "String",
        "z": "b4bb143c.006088",
        "name": "",
        "display": "e90c3931.ca9e58",
        "x": 930,
        "y": 680,
        "wires": []
    },
    {
        "id": "cdbe49a9e95411de",
        "type": "function",
        "z": "b4bb143c.006088",
        "name": "",
        "func": "msg.payload={\"size\":2,\"x\":1,\"y\":10,\"text\":\"Vaccant = \"+msg.payload+\"\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 600,
        "wires": [
            [
                "724f15638ec62f92",
                "850dcb3fed131eee"
            ]
        ]
    },
    {
        "id": "850dcb3fed131eee",
        "type": "Clear",
        "z": "b4bb143c.006088",
        "name": "",
        "display": "e90c3931.ca9e58",
        "x": 930,
        "y": 600,
        "wires": []
    },
    {
        "id": "724f15638ec62f92",
        "type": "delay",
        "z": "b4bb143c.006088",
        "name": "wait",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 930,
        "y": 640,
        "wires": [
            [
                "3489d4d0e4e71eab"
            ]
        ]
    },
    {
        "id": "bd38a836dd6020af",
        "type": "function",
        "z": "b4bb143c.006088",
        "name": "",
        "func": "var availableslots = 0;\nvar occupied = 0;\nemptyslots=[];\noccupiedslots=[];\nvar slots = global.get(\"slots\");\nfor (var i = 0; i < slots.length; i++) { \n    if(slots[i]==1){\n        availableslots++;\n        emptyslots.push(i+1);\n    } else{\n        occupiedslots.push(i+1);\n        occupied++;\n    }\n}\nmsg.availableslots=availableslots;\nmsg.emptyslots=emptyslots;\nmsg.occupiedslots=occupiedslots;\nmsg.occupied = occupied;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 460,
        "wires": [
            [
                "d9c04aeb.5fc258",
                "d93114de.ecd5d8",
                "d91c4d5e.5e2fb"
            ]
        ]
    },
    {
        "id": "791ea46ad4bad4cb",
        "type": "serial in",
        "z": "b4bb143c.006088",
        "name": "Xbee Coord",
        "serial": "37f205f6483e6117",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "3701f472828e18ce",
                "3878047c6bb1a72e"
            ]
        ]
    },
    {
        "id": "3701f472828e18ce",
        "type": "switch",
        "z": "b4bb143c.006088",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "L1S1/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L1S1/0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L1S2/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L1S2/0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L1S3/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L1S3/0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L1S4/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L1S4/0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L1S5/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L1S5/0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "a33c9f801472810b"
            ],
            [
                "f245361dbbc4af33"
            ],
            [
                "5beb7103fae62f99"
            ],
            [
                "451001ebf02d0e14"
            ],
            [
                "a70231cdf447b413"
            ],
            [
                "c51665d609278d33"
            ],
            [
                "c2e5538bc2749d37"
            ],
            [
                "060a44826f86fc6f"
            ],
            [
                "40fbeea9941700f8"
            ],
            [
                "d799f0c2e9db6a5c"
            ]
        ]
    },
    {
        "id": "a33c9f801472810b",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 60,
        "wires": [
            [
                "6dfed971.798b78",
                "6b5aa37bfdca7ab2"
            ]
        ]
    },
    {
        "id": "f245361dbbc4af33",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "6dfed971.798b78",
                "6b5aa37bfdca7ab2"
            ]
        ]
    },
    {
        "id": "5beb7103fae62f99",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "7407a474.c9414c",
                "fe605c700e4f5332"
            ]
        ]
    },
    {
        "id": "451001ebf02d0e14",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "7407a474.c9414c",
                "fe605c700e4f5332"
            ]
        ]
    },
    {
        "id": "a70231cdf447b413",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "7dae2ddd.31b264",
                "1d2b27ab7c55db06"
            ]
        ]
    },
    {
        "id": "c51665d609278d33",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "7dae2ddd.31b264",
                "1d2b27ab7c55db06"
            ]
        ]
    },
    {
        "id": "c2e5538bc2749d37",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "1a694428.67293c",
                "30f945242e325c4d"
            ]
        ]
    },
    {
        "id": "060a44826f86fc6f",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "1a694428.67293c",
                "30f945242e325c4d"
            ]
        ]
    },
    {
        "id": "40fbeea9941700f8",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 380,
        "wires": [
            [
                "14fc60c1.7228ff",
                "f0d8afbbef3ac128"
            ]
        ]
    },
    {
        "id": "d799f0c2e9db6a5c",
        "type": "change",
        "z": "b4bb143c.006088",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 420,
        "wires": [
            [
                "14fc60c1.7228ff",
                "f0d8afbbef3ac128"
            ]
        ]
    },
    {
        "id": "6b5aa37bfdca7ab2",
        "type": "mqtt out",
        "z": "b4bb143c.006088",
        "name": "",
        "topic": "smartparking/slot1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4ebf7e8052018e92",
        "x": 790,
        "y": 40,
        "wires": []
    },
    {
        "id": "fe605c700e4f5332",
        "type": "mqtt out",
        "z": "b4bb143c.006088",
        "name": "",
        "topic": "smartparking/slot2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4ebf7e8052018e92",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "30f945242e325c4d",
        "type": "mqtt out",
        "z": "b4bb143c.006088",
        "name": "",
        "topic": "smartparking/slot4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4ebf7e8052018e92",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "1d2b27ab7c55db06",
        "type": "mqtt out",
        "z": "b4bb143c.006088",
        "name": "",
        "topic": "smartparking/slot3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4ebf7e8052018e92",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "f0d8afbbef3ac128",
        "type": "mqtt out",
        "z": "b4bb143c.006088",
        "name": "",
        "topic": "smartparking/slot5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4ebf7e8052018e92",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "3878047c6bb1a72e",
        "type": "debug",
        "z": "b4bb143c.006088",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 360,
        "wires": []
    },
    {
        "id": "7320d7b62a3f837c",
        "type": "rpi-gpio in",
        "z": "d4cec11da682c4b2",
        "name": "Fire Sensor",
        "pin": "21",
        "intype": "down",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "130f7abe7de88f68",
                "d43049f10a0c50a4"
            ]
        ]
    },
    {
        "id": "9202541c073ab22f",
        "type": "rpi-gpio out",
        "z": "d4cec11da682c4b2",
        "name": "Buzzer ",
        "pin": "20",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "130f7abe7de88f68",
        "type": "switch",
        "z": "d4cec11da682c4b2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "5ab7780bb3890249"
            ],
            [
                "af3caad516387dce"
            ]
        ]
    },
    {
        "id": "5ab7780bb3890249",
        "type": "change",
        "z": "d4cec11da682c4b2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 40,
        "wires": [
            [
                "9202541c073ab22f"
            ]
        ]
    },
    {
        "id": "af3caad516387dce",
        "type": "change",
        "z": "d4cec11da682c4b2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "9202541c073ab22f"
            ]
        ]
    },
    {
        "id": "d43049f10a0c50a4",
        "type": "trigger",
        "z": "d4cec11da682c4b2",
        "name": "",
        "op1": "",
        "op2": "firesupport",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "70f2f49ff18d387b"
            ]
        ]
    },
    {
        "id": "70f2f49ff18d387b",
        "type": "coap request",
        "z": "d4cec11da682c4b2",
        "method": "POST",
        "confirmable": true,
        "observe": false,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "coap://172.16.17.113:5683/hvacfire",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "SoS",
        "x": 430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a3b5683b30f38184",
        "type": "rpi-gpio in",
        "z": "fb8916e614d73f2e",
        "name": "Fire Sensor",
        "pin": "21",
        "intype": "down",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "0f638c5bf51a5652",
                "1b6b882a20d5c1cc"
            ]
        ]
    },
    {
        "id": "9288f74e3dbffcec",
        "type": "rpi-gpio out",
        "z": "fb8916e614d73f2e",
        "name": "Buzzer ",
        "pin": "20",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "0f638c5bf51a5652",
        "type": "switch",
        "z": "fb8916e614d73f2e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "7b39a408e72e4b01"
            ],
            [
                "68d49472d7a7b847"
            ]
        ]
    },
    {
        "id": "7b39a408e72e4b01",
        "type": "change",
        "z": "fb8916e614d73f2e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 40,
        "wires": [
            [
                "9288f74e3dbffcec"
            ]
        ]
    },
    {
        "id": "68d49472d7a7b847",
        "type": "change",
        "z": "fb8916e614d73f2e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "9288f74e3dbffcec"
            ]
        ]
    },
    {
        "id": "1b6b882a20d5c1cc",
        "type": "trigger",
        "z": "fb8916e614d73f2e",
        "name": "",
        "op1": "",
        "op2": "firesupport",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "2ae7f0f38f7f0ca0"
            ]
        ]
    },
    {
        "id": "2ae7f0f38f7f0ca0",
        "type": "mqtt out",
        "z": "fb8916e614d73f2e",
        "name": "Fire SoS",
        "topic": "hvac/fire/sos",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc7eeacb0718f40f",
        "x": 460,
        "y": 120,
        "wires": []
    }
]
